<script>
$(function(){
  $('#blog_content').cleditor({
    width: 650,
    height: 500,
    fonts: "メイリオ, ＭＳ Ｐゴシック, Helvetica, Arial,Arial Black,Comic Sans MS, Georgia,Impact,Tahoma",
    bodyStyle: "margin:6px; font:14px メイリオ,Helvetica; cursor:text"
  });
})
</script>

<%= simple_form_for(@blog, :html => form_html_option) do |f| %>
  <% if @blog.errors.any? %>
    <div class="alert alert-error"><p>入力エラーがあります。下記のエラー内容を確認してください。</p></div>
  <% end %>

  <%= f.input :title, label: "タイトル", input_html: {class: "span7"} %><br>
  <%= f.input :content, label: "本文", input_html: {class: "span7", rows: 20} %><br>
    <%= file_field :image, :image %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
