投稿者：<%= @blog.user.dispname %><br />
投稿日時：<%= @blog.created_at.to_s(:long) %><br />
日記タイトル：<%= @blog.title %><br />
日記内容：<br />
<div style="background-color:#E1E1E1">
  <%= @blog.content %>
</div>
<br /><br />
こちらの内容を削除してもよろしいでしょうか？
<br />
<%= link_to "削除する", {:action => :destroy_mobile, :id => @blog.id}, :method => :delete %> | 
<%= link_to "キャンセルする", :action => :index_mobile %>
