<%= link_to '自分の日記へ', blogs_path %> | <%= link_to 'この日記を見る', @blog %>

<h1>編集する</h1>

<% form_for(@blog, :html => form_html_option) do |f| %>

  <p>
    <%= f.label :title, "タイトル" %><br />
    <%= f.text_field :title, :size => "70" %>
  </p>
  <p>
    <%= f.label :content, "内容" %><br />
    <%= f.text_area :content, :size => "75x30" %>
  </p>
  <p>
    <%= file_field :image, :image %>
  </p>

  <p>
    <%= f.submit '更新する' %>
  </p>
<% end %>
