<%= link_to '自分の日記へ', blogs_path %> |
<%= link_to "#{@blog.user.dispname}の日記一覧を見る", blogs_path(:username => @blog.user.login) unless @blog.user == current_user %>

<div id="show_blog">
  <p class="bar">
    <div style="background-color:#E1E1E1">
      <%= @blog.title %>
      投稿日時：<%= @blog.created_at.to_s(:long) if @blog.created_at %>
    </div>
  </p>
  <div class="content">
    <% @blog.blog_images.each do |image| -%>
      <%= image_tag(image.image(:thumb)) if image.image? %>
    <% end -%>
    <p class="text"><%= br auto_link(@blog.content) %></p>
  </div>
  <%= link_to '編集する', edit_blog_path(@blog) if editable(@current_user, @blog.user) %>
</div>

<br />
<br />
<div style="background-color:#E1E1E1">コメント</div>
<div id="comments">
  <%= render :partial => "comments" %>
</div>

<h3 class="normal">新規コメント</h3>
<div id="comment_form">
<%= form_tag url_for(:action => :create_comment, :blog_id => @blog.id) do %>
  <%= text_area_tag :comment, nil, :size => "60x5" %><br />
  <%= submit_tag "投稿する" %>
<% end -%>
</div>
<br />
<br />
