<div id="show_blog">
  <%= link_to '自分の日記へ', blogs_path %> |
  <%= link_to "#{@blog.user.dispname}の日記一覧を見る", blogs_path(:username => @blog.user.login) unless @blog.user == current_user %>

  <div class="once_content">
    <div class="title">
      <%= @blog.title %> 
      <%= link_to "(コメント数：#{@blog.blog_comments.size}）", "#comments" %>
    </div>

    <div class="info">投稿日時：<%= @blog.created_at.to_s(:long) if @blog.created_at %></div>
    <div class="description">
      <% @blog.blog_images.each do |image| -%>
        <%= link_to image_tag(image.image(:thumb)), image.image(:large), {:class => colorbox_class} if image.image? %>
        <%= link_to "削除", {:action => :destroy_image, :id => image.id}, :confirm => "画像を削除してもいいですか？" if image.image? && editable(@current_user, @blog.user) %>
      <% end -%>
      <p class="text"><%= sani_br(@blog.content) %></p>
    </div>
    <%= link_to '編集する', edit_blog_path(@blog) if editable(@current_user, @blog.user) %>
    <div class="nice">
      <span id="update_nice">
        <%= nice_field(@blog, "blog", "#update_nice") %>
      </span>
    </div>
  </div>

<div class="line_width100">
  <a href="#comment_form" class="page_down">ページ最下部へ</a>
</div>

<h3 class="normal">コメント</h3>
<div id="comments">
  <%= render :partial => "comments" %>
</div>

<h3 class="normal">新規コメント</h3>
<div id="comment_form">
<%# form_tag :remote => true, :url => {:action => :create_comment, :blog_id => @blog.id}, :update => "comments", :condition => "$('#comment').val() != ''", :complete => "$('#comment').val('')" do %>
<%= form_tag url_for(:action => :create_comment, :blog_id => @blog.id), :remote => true do %>
  <%= text_area_tag :comment, nil, :size => "60x5" %><br />
  <%= submit_tag "投稿する" %>
<% end -%>
</div>
</div> <!-- #show_blog -->

