<%= link_to '自分の日記へ', :action => :index_mobile %> |
<%= link_to "#{@blog.user.dispname}の日記一覧を見る", index_mobile_blogs_path(:username => @blog.user.login) unless @blog.user == current_user %>

<div id="show_blog">
  <p class="bar">
    <div style="text-align:center;background-color:#FF924D;color:#ffffff;font-size:medium">日記：<%= @blog.title %></div>
      <div style="text-align:right;color: rgb(0, 128, 0);">
        投稿日時：<%= @blog.created_at.to_s(:long) if @blog.created_at %>
      </div>
    </div>
  </p>
  <br />
  <div style="background-color:#E4F2F5">
    <br />
    <% @blog.blog_images.each do |image| -%>
      <%= image_tag(image.image(:thumb)) if image.image? %>
    <% end -%>
    <p class="text"><%= sani_br(@blog.content) %></p>
    <br />
  </div>
  <%= link_to '編集する', :action => :edit_mobile, :id => @blog.id if editable(current_user, @blog.user) %>
</div>

<br />
<br />
<div style="text-align:center;background-color:#FF924D;color:#ffffff;font-size:medium">コメント</div>
<div id="comments">
  <% @blog.blog_comments.each do |co| -%>
    <br />
    <div style="background-color:#E1E1E1">
      <span><%= co.user.dispname %></span><span style="margin-left:20px">投稿日時：<%= co.created_at.to_s(:long) %></span>
    </div>
    <div class="content">
      <div class="text"><%= sani_br(co.content) %></div>
    </div>
    <%= link_to "削除する", :action => :destroy_comment_confirm_mobile, :id => co.id if editable(current_user, co.user) %><br />
  <% end -%>

<br />
<div style="text-align:center;background-color:#FF924D;color:#ffffff;font-size:medium">新規コメント</div>
<div id="comment_form">
<%= form_tag blog_blog_comments_path(@blog.id) do %>
  <%= text_area_tag "[blog_comment][content]", nil, :size => "60x5" %><br />
  <%= submit_tag "投稿する" %>
<% end -%>
</div>
<br />
<br />
