<h2>ログイン <small>ログインができない方は、和孝に問い合わせてください（sakikazu15@gmail.com）</small></h2>
  <% if notice.present? -%>
    <p id="notice" class="notice"><%= notice %></p>
  <% end -%>
  <% if alert.present? -%>
    <p class="alert"><%= alert %></p>
  <% end -%>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :username, :required => false, :autofocus => true %>
    <%= f.input :password, :required => false %>
    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t("helpers.submit.Sign in") %>
  </div>
<% end %>

<%= render "users/shared/links" %>
