<%= simple_form_for(@movie, :html => form_html_option) do |f| %>
  <% if @movie.errors.any? %>
    <div class="alert alert-error"><p>入力エラーがあります。下記のエラー内容を確認してください。</p></div>
  <% end %>

  <%= f.input :title, label: "タイトル" %>
  <%= f.input :description, label: "説明", input_html: {class: "span6", rows: 8} %>
  <%= f.input :movie, label: "動画", label_html: {class: "mgn-t20"} %>
  <%= f.error :movie_file_name, class: 'important big' %>
  <%= f.input :thumb, label: "サムネイル(指定しなくてもいいです)", label_html: {class: "mgn-t20"} %>
  <%= f.input :movie_type, as: "radio_buttons", label: "編集された動画かどうか", label_html: {class: "mgn-t20"}, collection: [['はい', '1'] ,['いいえ', '0']] %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary", :data => {:disable_with => "Uploading..."} %>
  </div>
<% end %>

