<% if movies.present? %>
<div id="medias" class="clearfix">
  <% movies.each do |movie| -%>
    <div class="thumb">
      <div class="title">
        <h4><span class="badge badge-success"><%= fa_icon 'video-camera' %></span> <%= link_to movie.title, movie %></h4>
        <div class="extra">
          <%= fa_icon 'comment', text: movie.mutter_comments.size %>
          <br><%= nice_field_disp_only(movie) %>
        </div>
      </div>
      <div class="image jthumbnails"><%= link_to image_tag(movie.thumb(:thumb)), movie_path(movie) %></div>
      <div class="info">
        <div>
          <%= "投稿者：#{movie.user.dispname}" %><br>
          <%= "投稿：#{time_shorter(movie.created_at)}".html_safe %>
        </div>
        <% if movie.mutter_comments.last.try(:created_at) %>
        <div>
          <%= "最新コメント：#{time_shorter(movie.mutter_comments.last.created_at)}".html_safe %>
        </div>
        <% end %>
      </div>

      <% if editable(current_user, movie.user) -%>
      <div class="actions">
        <%= link_to '編集', edit_movie_path(movie) %>
        <%= link_to '削除', movie, :method => :delete, data: {confirm: '本当に削除してもよろしいですか？'} %>
      </div>
      <% end -%>

    </div>
<% end %>
</div>
<% end %>

