<div class="row">
  <div class="span7 offset2">

<%= link_to "新規作成", new_movie_path, class: "btn btn-info" %>

<div class="page-header"><h3>動画一覧</h3></div>
<div class="select_menu clearfix">
  <% [["編集動画", 1], ["編集なし動画", 2]].each do |n, i| -%>
    <% if @sort == i -%>
      <%= link_to n, movies_path(:sort => i), class: "btn btn-danger disabled" %>
    <% else -%>
      <%= link_to n, movies_path(:sort => i), class: "btn btn-danger" %>
    <% end -%>
  <% end -%>
</div>

<%= paginate @movies, window: 2 %>
<% @movies.each do |movie| %>
  <div class="well well-small">
    <ul class="nav nav-list"><li class="nav-header"><%= link_to "#{movie.title} (コメント数：#{movie.movie_comments.size})", movie %></li></ul>
    <% if movie.thumb? -%> 
      <%= image_tag(movie.thumb(:thumb)) %>
      <br />
    <% end -%>
    <div class="bar">
      <%= "作成者：#{movie.user.dispname}" %> | <%= "作成日時：#{movie.created_at.to_s(:short2)}" %>
      <%= " | 最新コメント日時：#{movie.movie_comments.last.created_at.to_s(:short2)}" if movie.movie_comments.last && movie.movie_comments.last.created_at %>
      <br />
      <% if editable(current_user, movie.user) -%>
        <%= link_to '編集', edit_movie_path(movie) %>
        <%= link_to '削除', movie, :method => :delete, :confirm => '本当に削除してもよろしいですか？' %>
      <% end -%>
    </div>
  </div>
<% end %>
<%= paginate @movies, window: 2 %>

  </div>
</div>
