<div class="col-sm-10">
<%= link_to "アルバムトップへ", top_albums_path, class: "btn btn-light" %>

<div class="page-header"><h3>動画一覧</h3></div>
<div class="select_menu clearfix">
  <% [["編集なし動画", 1], ["編集動画", 2]].each do |n, i| -%>
    <% if @sort == i -%>
      <%= link_to n, "javascript:void()", class: "btn btn-danger disabled" %>
    <% else -%>
      <%= link_to n, movies_path(:sort => i), class: "btn btn-danger" %>
    <% end -%>
  <% end -%>
</div>

<%= paginate @movies, window: 2 %>

<%= render 'movies/index', movies: @movies %>

<%= paginate @movies, window: 2 %>
</div>
