<%= link_to '動画一覧へ戻る', movies_path %>

<h1>新規作成</h1>

<% form_for(@movie, :html => {:multipart => true}) do |f| %>
   <p>
    <%= f.label :title, "タイトル" %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description, "説明" %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :movie, "動画 ※ファイル名に日本語を含めないようにしてね" %><br />
    <%= f.file_field :movie %>
  </p>
  <p>
    <%= f.label :thumb, "サムネイル(指定しなくてもいいです)" %><br />
    <%= f.file_field :thumb %>
  </p>

   <p>
    <%= f.submit '作成する' %>
  </p>
<% end %>


<br />
<h3 class="normal">動画をアップロードする方法</h3>
<div style="margin:7px;padding:10px;background-color:RGB(224,224,224);width:600px">
<p>このHPの動画機能では、デジカメなどで撮った動画をそのままアップロードすることはできません。<br />
「エンコード」という、ファイルサイズを小さくする処理を行う必要があります。</p>
<div style="color:red;font-weight:bold">※最近のデジカメなら、mp4型式で動画エンコードがH.264とあるものが多いので、これだとそのままアップできます※</div>
<br />

<h4 class="normal">1.ソフトをダウンロード（フリー。無料ね）</h4>
【BatchDOO! Request】<br />
<a href="http://lnsoft.net/videosound2.htm#batchdoo_r">http://lnsoft.net/videosound2.htm#batchdoo_r</a><br />
→「Download」ボタンを押す<br />

<h4 class="normal">2.ソフトを実行</h4>
ダウンロードしたものを解凍し、フォルダ内の「BatchDOO_R.exe」を実行する<br />

<h4 class="normal">3.設定</h4>
<b>おまかせ：iPad向け-H.264(低画質)</b><br />
にすれば他の項目が自動で設定されます(画像参照)<br />
<br />
<%= link_to image_tag("/images/setting_BatchDooR.jpg"), "/images/setting_BatchDooR.jpg" %><br />
<br /> <br />

※下記がこうなってればOKです※<br />
動画のｺｰﾃﾞｯｸ　：LIBX264<br />
音声のｺｰﾃﾞｯｸ　：LIBFAAC<br />
サイズは、640x480→512x384(ニコニコ動画向け)とあるやつに変更した方がキレイになります。<br />

<h4 class="normal">4.エンコード！！</h4>
ソフトにドラッグアンドドロップで動画ファイルを読み込み、右にある「Go!」ボタンを押す。<br />
そしたら、エンコードされたファイルが元ファイルのフォルダにできあがる<br />

<h4 class="normal">5.HPにアップロード</h4>
HPで動画ページを新規作成、アップロード！<br />

<h4 class="normal">※大事なのは</h4>
動画：H.264、音声：AAC、ビットレート：300kbps～600kbps<br />
となっていればいいので、他のソフトでもできます。

</div>
