<%= link_to '編集する', edit_movie_path(@movie) %> |
<%= link_to '動画一覧へ戻る', movies_path %>

<div id="show_movie">
  <p class="bar">
    <span class="title"><%= @movie.title %></span>
    <span class="info">
      作成者:<%= @movie.user.dispname %><br />
      作成日時:<%= @movie.created_at.to_s(:long) if @movie.created_at %>
    </span>
  </p>
  <div class="content">
    <div id="container2"><a href="http://www.macromedia.com/go/getflashplayer">Get the Flash Player</a> to see this player.</div>
    <%= javascript_include_tag 'swfobject/swfobject' %>
    <script type="text/javascript">
      var s1 = new SWFObject("../../javascripts/swfobject/player.swf","ply","512","384","9","#FFFFFF");
      s1.addParam("allowfullscreen","true");
      s1.addParam("allowscriptaccess","always");
      s1.addParam("flashvars","file=../../uploads/movie/<%= @movie.id %>/original/<%= @movie.movie_file_name %>&image=<%= @movie.thumb(:large) if @movie.thumb? %>");
      s1.write("container2");
    </script>
  </div>
  <div class="text"><%= br auto_link(@movie.description) %></div>
</div>

<div class="line_width100">
  <a href="#comment_form" class="page_down">ページ最下部へ</a>
</div>

<h3 class="normal">コメント</h3>
<div id="comments">
  <%= render :partial => "comments" %>
</div>

<h3 class="normal">新規コメント</h3>
<div id="comment_form">
<%# form_tag :remote => true, :url => {:action => :create_comment, :movie_id => @movie.id}, :update => "comments", :condition => "j$('#comment').val() != ''", :complete => "j$('#comment').val('')" do %>
<%= form_tag url_for(:action => :create_comment, :movie_id => @movie.id), :remote => true do %>
  <%= text_area_tag :comment, nil, :size => "60x5" %><br />
  <%= submit_tag "投稿する" %>
<% end -%>
</div>
<br />
<br />
<br />
<br />
