<div class="col-sm-7">

  <%= link_to "戻る", :back, class: "btn btn-light" %>
  <%= link_to "アルバム:#{@movie.album.title}", album_path(@movie.album_id), class: "btn btn-light" if @movie.album_id.present? %>
  <%= link_to '編集する', edit_movie_path(@movie), class: "btn btn-info" if editable(current_user, @movie.user) %>

<div class="page-header">
  <h3><%= @movie.title %><small><%= link_to "(コメント数：#{@movie.mutter_comments.size}）", "#comments" %></small></h3>
</div>

<div class="once_content">
  <div class="info">
    <%= @movie.user.dispname %> | 
    <%= l @movie.created_at if @movie.created_at %>
  </div>
  <div class="description">
    <% if @movie.is_ready? %>
      <%= videojs(@movie).html_safe %>
    <% else %>
      <div class="well">
        ただいま動画準備中（エンコード）です。<br>
        しばらくしてから更新してみてください。
      </div>
    <% end %>
    <div class="text"><%= sani_custom_br(@movie.description) %></div>
  </div>
  <div class="nice">
    <span id="update_nice">
      <%= nice_field(@movie, "movie", "#update_nice") %>
    </span>
  </div>
</div>
<div class="clearfix"></div>

<%= link_to "ページ最下部へ", "#comment_form", class: "mt-30 btn btn-warning btn-block" if @movie.mutter_comments.size > 5 %>

<div class="page-header">
  <h3>コメント</h3>
</div>

<div id="comments" class="clearfix">
  <%= render partial: 'shared/comments', locals: { model_name: 'Movie', comments: @movie.mutter_comments, movie: @movie } %>
</div>

<div id="comment_form">
  <%= form_tag create_comment_movie_path(@movie), remote: true do |f| %>
    <%= text_area_tag :content, nil, class: "form-control", rows: 4, placeholder: "コメントする" %><br />
    <div class="form-actions">
      <%= submit_tag "コメントを投稿", class: "btn btn-primary", :data => {:disable_with => "投稿しています"} %>
    </div>
  <% end -%>
</div>

</div>
