<%= javascript_include_tag 'tablesorter/jquery.tablesorter.min' %>
<script type="text/javascript">
  $(document).ready(function(){ 
    $('table#tablesorter').tablesorter();
  }); 
</script>
<%= stylesheet_link_tag '../javascripts/tablesorter/themes/blue/style' %>

<% if current_user.admin? -%>
  <%= link_to "[admin]みんなのログイン履歴", :action => :login_history %><br /><br />
<% end -%>

<%= link_to "自分の情報を変更する", edit_account_path %><br />
<%= link_to "さらに変更する", :action => :edit_ex %><br />
<br /><br />
<%= link_to "みんなの詳細情報を一覧で見る", :action => :all %><br />
<table id="tablesorter" class="tablesorter" border="1" cellspacing="0" cellpadding="3">
  <thead>
  <tr>
    <th>name</th>
    <th>自分で設定した名前</th>
    <th>画像</th>
    <th>血液型</th>
    <th>性別</th>
    <th>年齢</th>
    <th>誕生日</th>
    <th>関係する11兄弟</th>
    <th>最終ログイン時間</th>
<% if current_user.admin? -%>
    <th>[admin]ID</th>
    <th>[admin]login name</th>
    <th>[admin]role</th>
<% end -%>
    <th>詳細</th>
  </tr>
  </thead>
  <tbody>
<% @users.each_with_index do |user, idx| -%>
  <tr <%= "class='odd'"if idx%2==1 %>>
    <td><%= user.name %></td>
    <td><%= user.dispname(User::FULLNICK,true) %></td>
    <td><%= link_to image_tag(user.user_ext.image(:small)), user.user_ext.image(:large), {:class => "colorbox"} if user.user_ext.image? %></td>
    <td><%= user.user_ext.blood_name %></td>
    <td><%= user.user_ext.sex_name %></td>
    <td><%= user.user_ext.age %></td>
    <td><%= user.user_ext.birth_day.to_s(:date) if user.user_ext.birth_day %></td>
    <td><%= user.user_ext.root11_name %></td>
    <td><%= user.current_login_at.to_s(:long) if user.current_login_at %></td>
<% if current_user.admin? -%>
    <td><%= user.id %></td>
    <td><%= user.login %></td>
    <td><%= user.role_name %></td>
<% end -%>
    <td><%= link_to "見る", user %></td>
  </tr>
<% end -%>
  </tbody>
</table>
