<!-- メッセージ通知用div -->
<div id="info" class="notice" style="display:none;height:120px"></div>
<div id="his_form" class="mgn-b20 mgn-t20 span6">
  <%= form_for @history, :remote => true do |f| %>
    <% if @history.errors.any? %>
      <div class="alert alert-error"><p>入力エラーがあります。下記のエラー内容を確認してください。</p></div>
    <% end %>

    <label class="normal">年月</label>
    <%= f.select :episode_year, (1901..Date.today.year).to_a.reverse, {:include_blank => true}, class: "span1" %>年
    <%= f.select :episode_month, 1..12, {:include_blank => true}, class: "span1" %>月
    <%= f.select :episode_day, 1..31, {:include_blank => true}, class: "span1" %>日
    <br />
    <%= f.check_box :about_flg %><%= f.label :about_flg, "時期不確定" %>

    <pre>
  ・年を選択しなかった場合は、[時期不明]と表示される
  ・「時期不確定」にチェックした場合は、年月日のあとに「くらい」と表示される
  </pre>

    <label class="normal">内容(★必須入力)</label>
    <%= f.text_area :content, class: "span5", rows: 5 %><br /><br />

    <label class="normal">情報源(提供者、文書など)</label>
    <%= f.text_field :src_user_name, :size => 12 %><br />
    <%= f.hidden_field :user_id %>
    <br />
    <%= f.submit "追加する", class: "btn btn-primary" %>
  <% end -%>

</div>
