<h3 class="normal">コメントをする</h3>
<%= form_for @comment, :url => create_comment_histories_path do |f| %>
  <%= f.text_area :content, :size => "50x5" %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :history_id %>
  <%= f.submit '投稿する' %>
<% end -%>
