<div id="top"></div>
<div class="once_content" style="width:100%;">
  <div class="title">
    <%= "#{@album_photo.title} " %>
    <%= link_to "(コメント数：#{@album_photo.album_photo_comments.size}）", "#comment_area" %>
  </div>
  <div class="info">
    投稿者：<%= @album_photo.user.dispname %> | 
    投稿日時：<%= @album_photo.created_at.to_s(:short2) if @album_photo.created_at %>
  </div>
  <div class="description">
    <%= image_tag(@album_photo.attach(:large)) if @album_photo.attach? %>
    <br />
    <%= link_to "元画像", @album_photo.attach(:original) if @album_photo.attach? %>
    <p class="text"><%= sani_br(@album_photo.description) %></p>
  </div>
  <div class="nice">
    <span id="update_nice">
      <%= nice_field(@album_photo, "photo", "#update_nice") %>
    </span>
  </div>
</div>
