<%= link_to '一覧に戻る', album_path(@album_photo.album) %>

<h1>編集</h1>

<% form_for(@album_photo) do |f| %>
  <%= f.error_messages %>

  <%= f.label :title, "タイトル" %><br />
  <%= f.text_field(:title) %><br /><br />

  <%= f.label :description, "説明" %><br />
  <%= f.text_area(:description) %><br /><br />

  <p>
    <%= f.submit '更新する' %>
  </p>
<% end %>
