<h1>Listing album_photos</h1>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Description</th>
    <th>Album</th>
    <th>Filename</th>
    <th>Minetype</th>
    <th>Filesize</th>
    <th>Exif at</th>
    <th>Last comment at</th>
  </tr>

<% @album_photos.each do |album_photo| %>
  <tr>
    <td><%=h album_photo.user_id %></td>
    <td><%=h album_photo.title %></td>
    <td><%=h album_photo.description %></td>
    <td><%=h album_photo.album_id %></td>
    <td><%=h album_photo.filename %></td>
    <td><%=h album_photo.minetype %></td>
    <td><%=h album_photo.filesize %></td>
    <td><%=h album_photo.exif_at %></td>
    <td><%=h album_photo.last_comment_at %></td>
    <td><%= link_to 'Show', album_photo %></td>
    <td><%= link_to 'Edit', edit_album_photo_path(album_photo) %></td>
    <td><%= link_to 'Destroy', album_photo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New album_photo', new_album_photo_path %>