<div id="slideshow">
  <div id="top"></div>
  <p class="bar">
    <span class="title">
      <%= "#{@album_photo.title} " %>
      <%= link_to "(コメント数：#{@album_photo.album_photo_comments.size}）", "#comment_area" %>
    </span>
    <span class="right">
      投稿者：<%= @album_photo.user.dispname %><br />
      投稿日時：<%= @album_photo.created_at.to_s(:short2) if @album_photo.created_at %>
    </span>
  </p>
  <div class="content">
    <%= image_tag(@album_photo.attach(:large)) if @album_photo.attach? %>
    <br />
    <%= link_to "元画像", @album_photo.attach(:original) if @album_photo.attach? %>
    <p class="text"><%= br auto_link(@album_photo.description) %></p>
  </div>
</div>


<h3 class="normal">コメント <span id="comment_area"><%= link_to "(上部に移動)", "#top" %></div></h3>
<div id="comments">
  <%= render :partial => "comments" %>
</div>

<h3 class="normal">新規コメント</h3>
<div id="comment_form">
<%#= form_for @album_photo_comment, :remote => true, :update => "comments", :condition => "j$('#album_photo_comment_content').val() != ''", :complete => "j$('#album_photo_comment_content').val('')" do |f| %>
<%= form_for @album_photo_comment, :remote => true do |f| %>
  <%= f.text_area :content, :size => "60x4" %><br />
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :album_photo_id %>
  <%= submit_tag "投稿する" %>
<% end -%>
<br /><br />

</div>
