<% if @from_top_flg %>
  <div style="background-color:lightgray">
  <% if editable(current_user, @album_photo.user) %>
    <%= form_for @album_photo, :url => update_from_slideshow_album_photo_path, :remote => true do |f| %>
      タイトル<br />
      <%= f.text_field :title %><br />
      写真の説明<br />
      <%= f.text_area :description, :size => "60x4" %><br />
      <%= submit_tag "編集する" %>※この画像のアップロード者のみ可能
    <% end -%>
    <div id="info"></div>
    <hr />
  <% end -%>
  </div>
  <div style="text-align:center">
    <div style="margin:20px;font-size:18px;color:gray">
      アルバム：<%= link_to @album_photo.album.title, @album_photo.album %>
    </div>
  </div>
<% end -%>

<div id="slideshow">
  <%= render :partial => "slidecontent" %>
</div>

<div style="width:600px;margin:auto">
  <h3 class="normal">コメント <span id="comment_area"><%= link_to "(上部に移動)", "#top" %></span></h3>
  <div id="comments">
    <%= render :partial => "comments" %>
  </div>

  <h3 class="normal">新規コメント</h3>
  <div id="comment_form">
    <%#= form_for @album_photo_comment, :remote => true, :update => "comments", :condition => "$('#album_photo_comment_content').val() != ''", :complete => "$('#album_photo_comment_content').val('')" do |f| %>
      <%= form_for @album_photo_comment, :remote => true do |f| %>
        <%= f.text_area :content, :size => "60x4" %><br />
        <%= f.hidden_field :user_id %>
        <%= f.hidden_field :album_photo_id %>
        <%= submit_tag "投稿する" %>
      <% end -%>
      <br /><br />
  </div>
</div>
