<div style="font-size:small">
<% form_for @mutter, :url => {:controller => "mobile", :action => :create}, :html => {:multipart => true} do |f| -%>
  <div style="font-weight:bold;color:rgb(0, 128, 0">つぶやく(絵文字はまだ使えません)</div>
  <%= f.text_area :content, :size => "15x2" %><br /><br />
  <div style="font-weight:bold;color:rgb(0, 128, 0;">画像(最近の携帯のみ)</div>
  <%= f.file_field :image %><br />
  <%= f.hidden_field :user_id %>
  <%= f.submit "投稿する" %>
<% end -%>
<br />
<% @mutters.each do |m| -%>
  <div style="background-color:#E1E1E1">
    <%= m.created_at.to_s(:short) %>  <span style="font-weight:bold"><%= m.user.dispname %></span>
  </div>
  <% if m.image? -%>
    <%#= link_to(image_tag(m.image(:thumb)), m.image(:large)) %><br />
    <%= image_tag(m.image(:thumb)) %><br />
  <% end -%>
  <br /><%= auto_link(m.content) %><br />
<%# sakikazu memo F906i 調査。:method～がルーティングに反映しないし、:confirmも無効になった %>
  <%= link_to("削除", {:action => :destroy, :id => m.id}) if editable(current_user, m.user) %>
<% end -%>

<br /><br />
<%= will_paginate @mutters, :prev_label => '前へ', :next_label => '次へ' %>
</div>
