<div style="font-size:small">
  <div style="margin-top:10px;text-align:center">(生年月日を登録している人のみ)</div>
  <table style="font-size:small">
  <% @kinen.each do |k| -%>
    <tr><td colspan=3><hr /></td></tr>
    <% if k[:count] == 0 -%>
      <tr>
        <td><span style="font-size:small"><%= "#{k[:user].dispname(User::FULLNAME)}さん" %></span></td>
        <td><span style="font-size:small;color:red">本日</td>
        <td><span class="main"><%= "#{k[:kinen_name]}" %></span></td>
      </tr>
      <tr class="anniversary"><td colspan=3>
        <%= link_to '祝う', {:action => :celebration_new, :user_id => k[:user].id} %>
        <%= link_to 'お祝いを見る', {:action => :celebration, :user_id => k[:user].id} %>
      </td></tr>

    <% else -%>
      <tr class="exist-border">
        <td><span style="font-size:small"><%= "#{k[:user].dispname(User::FULLNAME)}さん" %></span></td>
        <td><span style="font-size:small;color:red"><%= "あと#{k[:count]}日で" %></td>
        <td><span class="main"><%= "#{k[:kinen_name]}" %></span></td>
      </tr>
    <% end -%>
  <% end -%> 
  </table>
  <br /><br />

<div style="text-align:center;background-color: rgb(217, 41, 10);color:#ffffff;font-size:medium">みんなのつぶやき</div>
<br />
<%= link_to '写真付きでつぶやく', :controller => "mutters", :action => "new_from_mail" %><br /><br />
<%= form_for @mutter, :url => {:controller => "mobile", :action => :create} do |f| -%>
  <div style="font-weight:bold;color:rgb(0, 128, 0">つぶやく</div>
  <%= f.text_area :content, :size => "20x2" %><br /><br />
  <%= f.hidden_field :user_id %>
  <%= f.submit "投稿する" %>
<% end -%>
<br />
<% @mutters.each do |m| -%>
  <div style="background-color:#E1E1E1">
    <%= m.created_at.to_s(:short) %>  <span style="font-weight:bold"><%= m.user.try(:dispname) %></span>
  </div>
  <% if m.image? -%>
    <%#= link_to(image_tag(m.image(:thumb)), m.image(:large)) %><br />
    <%= image_tag(m.image(:thumb)) %><br />
  <% end -%>
  <br /><%= sani(m.view_content) %><br />
<%# sakikazu memo F906i 調査。:method～がルーティングに反映しないし、:confirmも無効になった %>
  <%= link_to("削除", {:action => :destroy, :id => m.id}) if editable(current_user, m.user) %>
<% end -%>

<br /><br />

<% # KaminariのデフォルトVieweはulなので携帯だと改行されて使えない（CSS使えないから） -%>
<%#= paginate @mutters, window: 2 %>
<%#= will_paginate @mutters, :previous_label=>'&#171;前', :next_label=>'次&#187;' %>

<% # カスタムテーマを使う方法もあるけどViewを作るのがめんどくせいのでまあいいや。やるならaタグのViewな。 -%>
<%#= paginate @users, :theme => 'my_custom_theme' %>

<%= link_to_previous_page @mutters, '<< 前へ' %>&nbsp;&nbsp;
<%= link_to_next_page @mutters, '次へ >>' %>
</div>
