<div style="font-size:small">
  <div style="font-weight:bold;color: rgb(0, 128, 0);">★携帯からは日記と掲示板のみ見れます★</div><br />
<% @updates.each do |up| -%>
<div class="onece">
  <div style="background-color:#E1E1E1"><%= up.updated_at.to_s(:short) if up.updated_at %></div>
  <%= up.user.try(:dispname) %>が 
  <% case up.action_type
     when UpdateHistory::ALBUM_CREATE -%>
    <b>[アルバム]<%= up.content.title%></b>
    を作成しました
  <% when UpdateHistory::ALBUM_COMMENT -%>
    <b>[アルバム]<%= up.content.title%></b>
    にコメントしました
  <% when UpdateHistory::ALBUMPHOTO_CREATE -%>
    <b>[アルバム]<%= up.content.title%></b>
    に写真を追加しました
  <% when UpdateHistory::ALBUMPHOTO_COMMENT -%>
    <b>[アルバム]<%= up.content.title%></b>
    の写真にコメントしました
  <% when UpdateHistory::BOARD_CREATE -%>
    <%= link_to "[掲示板]#{up.content.title}", :controller => :boards, :action => :show_mobile, :id => up.content.id %>
    を作成しました
  <% when UpdateHistory::BOARD_COMMENT -%>
    <%= link_to "[掲示板]#{up.content.title}", :controller => :boards, :action => :show_mobile, :id => up.content.id %>
    にコメントしました
  <% when UpdateHistory::MOVIE_CREATE -%>
    <b>[動画]<%= up.content.title%></b>
    を作成しました
  <% when UpdateHistory::MOVIE_COMMENT -%>
    <b>[動画]<%= up.content.title%></b>
    にコメントしました
  <% when UpdateHistory::BLOG_CREATE -%>
    <%= link_to "[日記]#{up.content.title}", :controller => :blogs, :action => :show_mobile, :id => up.content.id %>
    を作成しました
  <% when UpdateHistory::BLOG_COMMENT -%>
    <%= link_to "[日記]#{up.content.title}", :controller => :blogs, :action => :show_mobile, :id => up.content.id %>
    にコメントしました
  <% end -%>
  <br /><br />
</div>
<% end -%>
<br /><br />
<%= paginate @updates, window: 2 %>
