<%= simple_form_for @album_comment do |f| %>
  <%= f.inputs do %>
    <%= f.input :user_id %>
    <%= f.input :album_id %>
    <%= f.input :content %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
