<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @album_comment.user_id %>
</p>

<p>
  <b>Album:</b>
  <%= @album_comment.album_id %>
</p>

<p>
  <b>Content:</b>
  <%= @album_comment.content %>
</p>


<%= link_to 'Edit', edit_album_comment_path(@album_comment) %> |
<%= link_to 'Back', album_comments_path %>
