<%= simple_form_for @album do |f| %>
  <% if @album.errors.any? %>
    <div class="alert alert-error"><p>入力エラーがあります。下記のエラー内容を確認してください。</p></div>
  <% end %>

  <%= f.input :title, label: "タイトル" %>
  <%= f.input :description, label: "説明", input_html: {class: "span7"} %>
  <%= f.input :thumb_id, as: :select, collection: @album.photos.map{|p| ["#{p.id}(#{p.title})", p.id]}, label: "アルバムトップに表示する写真" %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
