<script type="text/javascript">
$(document).ready(function(){
  $('#show').click(function(){
    $('#title_index_area').toggle(50, function(){
      if ($('#title_index_area').is(":visible")) {
        $('#show').text('非表示');
      }else {
        $('#show').text('再表示');
      }
    });
  });
});
</script>

<div id="show" style="font-size:130%; color:red; font-weight:bold; margin: 5px 2px; cursor: pointer">非表示</div>
<div id="title_index_area">
  <table class="tablesorter_like">
  <tr>
    <th>タイトル</th>
    <th>写真数</th>
    <th>作成者</th>
    <th>作成日時</th>
    <th>最新アップ日時</th>
    <th>最新コメント日時</th>
    <th>ダウンロード</th>
  </tr>
  <% @albums.each_with_index do |album, idx| %>
  <tr<%= " class='odd'" if idx%2==1 %>>
    <td><%= link_to album.title, album %></td>
    <td><%= @photo_count[album.id] || "0" %></td>
    <td><%= album.user.dispname %></td>
    <td><%= l album.created_at if album.created_at %></td>
    <td><%= l album.sort_at if album.sort_at %></td>
    <td><%= l @last_comment_at[album.id] if @last_comment_at[album.id] %></td>
    <td><%= link_to "ダウンロードする", :action => :download, :id => album.id %></td>
  </tr>
  <% end %>
  </table>
</div>
