<%= link_to 'アルバム一覧', albums_path, class: "btn" %>
<%= link_to 'このアルバムを見る', @album, class: "btn" %>

<div class="page-header">
  <h2><%= @page_title %></h2>
  <%= "<p>#{@page_desc}</p>" if @page_desc.present? %>
</div>

<%= render 'form' %>
