<script>
$(document).ready(function() {
  $('a[data-toggle="tab"]:first').tab('show');

  //uploadify
  $('#uploadify').uploadify({
    'swf' : '/assets/uploadify/uploadify.swf',
    'uploader' : '<%= album_photos_path(@album.id) %>',
    'formData' : {'user_id': <%= current_user.id %>,
      'authenticity_token' : '<%= form_authenticity_token if protect_against_forgery? %>'
    },
    'queueID' : 'fileQueue',
    'auto' : true,
    'multi' : true,
    'buttonText' : 'ファイルを選択',
    //'buttonImg'      : '/_images/browse-files.png',
//    '_http_accept': 'text/html',  //406error対策とかあったらがやっぱエラーになった
    'onQueueComplete': function (evt, data){
      alert('ファイルのアップロードが完了しました。');
      //albums#showにuser_id付きでリクエストすることで、セッションが切れてログアウトされてしまった状態から自動でログインするようにする
      location.href = '<%= album_url(@album, "album[sort_flg]" => 1, "album[user_id]" => current_user.id) %>';
      <%#= remote_function(:url => {:controller => :albums, :action => :upload_complete, :id => @album.id},
        :complete => "alert(\" ファイルのアップロードが完了しました。\");location.reload()")
        #:complete => "alert(data['filesUploaded']+\" ファイルのアップロードが完了しました。\");location.reload()")
      %>
    },

  });

  
  //colorbox
  colorbox_slideshow();

  // アルバム説明が長すぎたら開閉スイッチを挿入する
  var min_height = 200;
  var $desc = $('.description')
  var desc_height = $desc.height();
  if(desc_height > min_height) {
    $desc
      .height(min_height)
      .css({"overflow":"hidden"})
      .after('<div id="desc_open">＞＞続きを読む</div>');

    $('#desc_open')
      .css({
        'font-size':'16px',
        'color':'red',
        'font-weight':'bold',
        'cursor':'pointer'
      })
      .click(function(){
        if ($(this).data('open') == true ) {
          $(this).data('open', false);
          $desc.height(min_height);
          $(this).text('＞＞続きを読む');
        } else {
          $(this).data('open', true);
          $desc.height(desc_height);
          $(this).text('＞＞閉じる');
        }
      })
  }

}); //jquery#ready

//commentshow = function() {
//  $("#comment_area").toggle();
//  if($("#showlink").text() == "表示") {
//    $("#showlink").text("非表示");
//  } else {
//    $("#showlink").text("表示");
//  }
//}
</script>

<div class="mb-50">
<%= link_to 'アルバム一覧', albums_path, class: "btn" %>
<%= link_to '編集する', edit_album_path(@album), class: "btn btn-info" %>
</div>

<ul class="nav nav-tabs">
  <li><a href="#tab-description" data-toggle="tab"><i class="icon-list-alt"></i> <%= @album.title %></a></li>
  <li><a href="#tab-comments" data-toggle="tab"><i class="icon-comment"></i> アルバムへのコメント(<%= @album.comments.select{|n| n.id.present?}.size %>)</a></li>
  <li><a href="#tab-photo-upload" data-toggle="tab"><i class="icon-camera"></i> 写真アップロード</a></li>
  <li><a href="#tab-movie-upload" data-toggle="tab"><i class="icon-facetime-video"></i> 動画アップロード</a></li>
</ul>

<div class="tab-content well well-small">
  <div id="tab-description" class="tab-pane">
    <h3>
      <%= "写真数(動画含む)：#{@medias_all_num}</small>".html_safe %>
      <small> 作成者：<%= @album.user.try(:dispname) %> | 作成日時：<%= l @album.created_at if @album.created_at %></small>
    </h3>
    <div class="description"><%= sani_custom_br(@album.description) %></div>
  </div>

  <div id="tab-comments" class="tab-pane">
    <div class="page-header">
      <h3>このアルバムへのコメント<small>コメント数：<%= @album.comments.select{|n| n.id.present?}.size %></small></h3>
    </div>

    <!-- アルバムへのコメント -->
    <div class="clearfix">
      <div class="span6">
        <div id="comment_area">
          <div id="comments">
            <%= render "comments" %>
          </div>

          <%= form_for @new_comment, url: create_comment_album_path(@album), remote: true do |f| %>
            <div class="field">
            <%= f.text_area :content, rows: 4, class: "span6" %>
            <%= f.hidden_field :parent_id %>
            <%= f.hidden_field :parent_type %>
          </div>
          <div class="actions">
            <%= f.submit "コメントする", class: "btn btn-primary", :data => {:disable_with => "投稿しています"} %>
          </div>
        <% end -%>
        </div>
      </div>
    </div>
  </div>

  <div id="tab-photo-upload" class="tab-pane">
    <div class="page-header">
      <h3>このアルバムに写真をアップする<small>複数ファイル選択可能</small></h3>
    </div>

    <div id="fileQueue"></div>
    <%= hidden_field_tag :user_id %>
    <%= hidden_field_tag :album_id %>
    <%= file_field_tag :uploadify %><br />
    <strong class="important">※スマホからはアップできません</strong>
  </div>

  <div id="tab-movie-upload" class="tab-pane">
    <div class="page-header">
      <h3>このアルバムに動画をアップする</h3>
    </div>
    <%= render :partial => 'movies/form' %>
  </div>

</div> <!-- .tab-content -->


<% if @medias.size > 0 -%>
  <div class="page-header mt-50"><h3 class="normal">このアルバムの写真・動画<small>写真をクリックするとスライドショーが開始されます</small></h3></div>

  <div class="mb-30 clearfix">
  <% [["写真と動画", 1], ["写真のみ", 2], ["動画のみ", 3]].each do |n, i| -%>
    <% if @media_filter == i -%>
      <%= link_to n, "javascript:void()", class: "btn btn-danger disabled" %>
    <% else -%>
      <% sort_params = {id: @album.id, album: {media_filter: i}} %>
      <% sort_params[:album]["user_id"] = @album4sort.user_id if @album4sort.present? %>
      <% sort_params[:album]["sort_flg"] = @album4sort.sort_flg if @album4sort.present? %>
      <%= link_to n, album_path(sort_params), class: "btn btn-danger" %>
    <% end -%>
  <% end -%>
  </div>

  <!-- ソート機能 -->
  <% #sort_list = [["アップロード順", 1], ["撮影日時順", 2], ["コメント順", 3], ["イイネされた順", 4]] -%>
  <% sort_list = {"1" => "アップロード順", "2" => "撮影日時順", "3" => "コメント順", "4" => "イイネされた順"} -%>
  <div class="input-append">
    <%= form_for @album4sort, url: album_path, :method => :get do |f| %>
      <%= f.select :user_id, @uploader_list.map{|u| [u[1], u[0]]}, {include_blank: "＜アップロード者＞"}, {class: "span3"} %>
      <%= f.select :sort_flg, sort_list.map{|s| [s[1], s[0]]}, {include_blank: "＜並び替え順＞"}, {class: "span3"} %>
      <%= f.hidden_field :media_filter %>
      <%= f.submit "並び替え", class: "btn" %>
    <% end %>
  </div>

  <div class="alert alert-success">
    <h4><%= "#{@selected_uploader.dispname}がアップした#{@media_name}が" if @selected_uploader.present? %>
      <%= sort_list[@sort_flg.to_s] %>で表示されています</h4>
  </div>
<% end -%>


<div class="autopagerize_page_element">
<%= paginate @medias, :window => 2, :outer_window => 2 %><br>

<%= render 'movies/index', movies: @medias.select{|n| n.class == Movie} %>

<div id="photo" class="clearfix">
  <% @medias.select{|n| n.class == Photo}.each do |p| -%>
  <div class="once_photo">
    <div class="bar">
      <%= "#{p.title} (コメント数：#{p.comments.size}）" %>&nbsp;<%= nice_field_disp_only(p) %>
    </div>
    <div class="photo">
      <% if request.smart_phone? -%>
        <%= link_to(image_tag(p.image(:thumb)), album_photo_path(@album, p)) if p.image? %>
      <% else -%>
        <%= link_to(image_tag(p.image(:thumb)), slideshow_album_photo_path(@album, p), {rel: "colorbox"}) if p.image? %>
      <% end -%>
    </div>
    <div class="info">
      投稿者：<%= p.user.try(:dispname) %><br />
      投稿日時：<%= l p.created_at if p.created_at %><br />
      撮影日時：<%= l p.exif_at if p.exif_at %><br />
      最新コメント日時：<%= l p.last_comment_at if p.last_comment_at %><br />

      <%= link_to '別ページで見る', album_photo_path(@album, p) %>
      <% if editable(current_user, p.user) -%>
        | <%= link_to '編集', edit_album_photo_path(@album, p) %>
      | <%= link_to '削除', album_photo_path(@album, p), :method => :delete, data: {confirm: '本当に削除してもよろしいですか？'} %>
      <% end -%>
    </div>
  </div>
<% end -%>
</div>
<%= paginate @medias, :window => 2, :outer_window => 2 %>
</div> <!-- autopagerize_page_element -->

<div id="autopager_loading" class="btn btn-warning btn-block" style="display:none">次のページを読込中です</div>
