<%= stylesheet_link_tag 'uploadify' %>
<%= javascript_include_tag 'uploadify/jquery.uploadify.v2.1.0.min' %>
<%= javascript_include_tag 'uploadify/swfobject' %>

<script type="text/javascript">// <![CDATA[
  $(document).ready(function() {
    //uploadify
    $('#uploadify').uploadify({
      'uploader' : '<%= "/javascripts/uploadify/" %>uploadify.swf',
      'script' : '/album_photos/create',
      'scriptData' : {'album_id':<%= @album.id %>, 'user_id': <%= current_user.id %>},
      'cancelImg' : '/javascripts/uploadify/cancel.png',
      'queueID' : 'fileQueue',
      'auto' : true,
      'multi' : true,
      'buttonText' : 'Select files', //### todo 日本語は文字化けしちゃったので、画像作ってそれにしたい
      //'buttonImg'      : '/_images/browse-files.png',
      '_http_accept': 'text/html',  //406error対策とかあったらがやっぱエラーになった
      'onAllComplete': function (evt, data){
        alert('ファイルのアップロードが完了しました。');
        location.reload();
        <%#= remote_function(:url => {:controller => :albums, :action => :upload_complete, :id => @album.id},
          :complete => "alert(\" ファイルのアップロードが完了しました。\");location.reload()")
          #:complete => "alert(data['filesUploaded']+\" ファイルのアップロードが完了しました。\");location.reload()")
        %>
      },

    });

    $('#album_id').bind('change', function(){
      $('#uploadify').fileUploadSettings('scriptData','&album_id='+$(this).val());
    });
    $('#user_id').bind('change', function(){
      $('#uploadify').fileUploadSettings('scriptData','&user_id='+$(this).val());
    });

    //colorbox
    colorbox_slideshow();

    // アルバム説明が長すぎたら開閉スイッチを挿入する
    var min_height = 200;
    var $desc = $('#album_info .content')
    var desc_height = $desc.height();
    if(desc_height > min_height) {
      $desc
        .height(min_height)
        .css({"overflow":"hidden"})
        .after('<div id="desc_open">＞＞続きを読む</div>');

      $('#desc_open')
        .css({
          'font-size':'16px',
          'color':'red',
          'font-weight':'bold',
          'cursor':'pointer'
        })
        .click(function(){
          if ($(this).data('open') == true ) {
            $(this).data('open', false);
            $desc.height(min_height);
            $(this).text('＞＞続きを読む');
          } else {
            $(this).data('open', true);
            $desc.height(desc_height);
            $(this).text('＞＞閉じる');
          }
        })
    }

    $.autopager({
      content: '.autopagerize_page_element', // コンテンツ部分のセレクタ 
      //次ページリンクのセレクタ(Default: 'a[rel=next]')
      //link   : '.next_page',  //デフォルトでいいのでコメントアウト 
      load: function(current, next) {
        var pageBreak = '<p>ページ: <a href="' + current.url + '">' + current.page + '</a></p>';
        //thisは読み込んだコンテンツ要素を指す
        $(this).before(pageBreak);
        //読み込んだページに再度colorboxを適用させる
        colorbox_slideshow();
      }
    });

  }); //jquery#ready

commentshow = function() {
  $("#comment_area").toggle();
  if($("#showlink").text() == "表示") {
    $("#showlink").text("非表示");
  } else {
    $("#showlink").text("表示");
  }
}

// ]]></script>

<%= link_to '一覧へ戻る', albums_path %>
<div style="width:650px">
  <div class="once_content">
    <div class="title"><%= "#{@album.title} （写真数：#{@album.album_photos.size}）" %></div>
    <div class="info">
      作成者：<%= @album.user.dispname %> | 
      作成日時：<%= @album.created_at.to_s(:long) if @album.created_at %>
    </div>
    <div class="description"><%= sani_br(@album.description) %></div>
  </div>
</div>

<h3 class="normal">このアルバムへのコメント<span style="color:red;font-size:16px;margin-left:8px;">(<%= @album.album_comments.size %>)</span> / <%= link_to '表示', "javascript:commentshow();", {:id => 'showlink'} %></h3>
<div style="width:600px">
  <div id="comment_area" style="display:none">
    <div id="comments">
      <%= render "comments" %>
    </div>

    <%= form_for([@album, @comment], :url => create_comment_album_path(@album), :remote => true) do |f| %>
      <div class="field">
        <%= f.text_area :content, :size => "40x3" %>
      </div>
      <%= f.hidden_field :album_id %>
      <%= f.hidden_field :user_id %>
      <div class="actions">
        <%= f.submit "コメントする" %>
      </div>
    <% end -%>
  </div>
</div>


<h3 class="normal">写真をアップロードする (複数ファイル選択可能)</h3>
<div id="fileQueue"></div>
<%= hidden_field_tag :user_id %>
<%= hidden_field_tag :album_id %>
<%= file_field_tag :uploadify %><br />

<% if @album_photos.size > 0 -%>
  <h3 class="normal">写真を並び替える</h3>
  <div class="select_menu clearfix">
    <% [["アップロード順", 1], ["撮影日時順", 2], ["コメント順", 3]].each do |n, i| -%>
      <% if @sort == i -%>
        <%= link_to "<span class='selected'>#{n}</span>".html_safe, album_path(:sort => i) %>
      <% else -%>
        <%= link_to "<span>#{n}</span>".html_safe, album_path(:sort => i) %>
      <% end -%>
    <% end -%>
  </div>

  <h3 class="normal">写真をクリックするとスライドショーが開始されます</h3>
<% end -%>

<div class="autopagerize_page_element">
<div id="photo" class="clearfix">
<% @album_photos.each do |p| -%>
  <div class="once_photo">
    <div class="bar">
      <%= "#{p.title} (コメント数：#{p.album_photo_comments.size}）" %>
    </div>
    <%= link_to(image_tag(p.attach(:thumb)), {:controller => :album_photos, :action => :slideshow, :id => p.id}, {:rel => colorbox_class}) if p.attach? %>
    <div class="info">
      投稿者：<%= p.user.dispname %><br />
      投稿日時：<%= p.created_at.to_s(:short2) if p.created_at %><br />
      撮影日時：<%= p.exif_at.to_s(:short2) if p.exif_at %><br />
      最新コメント日時：<%= p.last_comment_at.to_s(:short2) if p.last_comment_at %><br />

      <% if editable(current_user, p.user) -%>
        <%= link_to '編集', edit_album_photo_path(p) %> | 
        <%= link_to '削除', p, :method => :delete, :confirm => '本当に削除してもよろしいですか？' %>
      <% end -%>
    </div>
  </div>
<% end -%>
</div>
<%= will_paginate @album_photos, :previous_label=>'&#171;前', :next_label=>'次&#187;', :class => 'flickr_pagination' %>
</div> <!-- autopagerize_page_element -->
