<script>
$(document).ready(function() {
  $('a[data-toggle="tab"]:first').tab('show');

  //uploadify
  $('#uploadify').uploadify({
    'swf' : '/assets/uploadify/uploadify.swf',
    'uploader' : '<%= album_photos_path(@album.id) %>',
    'formData' : {'user_id': <%= current_user.id %>,
      'authenticity_token' : '<%= form_authenticity_token if protect_against_forgery? %>'
    },
    'queueID' : 'fileQueue',
    'auto' : true,
    'multi' : true,
    'buttonText' : 'ファイルを選択',
    //'buttonImg'      : '/_images/browse-files.png',
//    '_http_accept': 'text/html',  //406error対策とかあったらがやっぱエラーになった
    'onQueueComplete': function (evt, data){
      alert('ファイルのアップロードが完了しました。');
      //albums#showにuser_id付きでリクエストすることで、セッションが切れてログアウトされてしまった状態から自動でログインするようにする
      location.href = '<%= album_url(@album, "album[sort_flg]" => 1, "album[user_id]" => current_user.id) %>';
      <%#= remote_function(:url => {:controller => :albums, :action => :upload_complete, :id => @album.id},
        :complete => "alert(\" ファイルのアップロードが完了しました。\");location.reload()")
        #:complete => "alert(data['filesUploaded']+\" ファイルのアップロードが完了しました。\");location.reload()")
      %>
    },

  });

  
  //colorbox
  colorbox_slideshow();

  // アルバム説明が長すぎたら開閉スイッチを挿入する
  var min_height = 200;
  var $desc = $('.description')
  var desc_height = $desc.height();
  if(desc_height > min_height) {
    $desc
      .height(min_height)
      .css({"overflow":"hidden"})
      .after('<div id="desc_open">＞＞続きを読む</div>');

    $('#desc_open')
      .css({
        'font-size':'16px',
        'color':'red',
        'font-weight':'bold',
        'cursor':'pointer'
      })
      .click(function(){
        if ($(this).data('open') == true ) {
          $(this).data('open', false);
          $desc.height(min_height);
          $(this).text('＞＞続きを読む');
        } else {
          $(this).data('open', true);
          $desc.height(desc_height);
          $(this).text('＞＞閉じる');
        }
      })
  }

}); //jquery#ready

//commentshow = function() {
//  $("#comment_area").toggle();
//  if($("#showlink").text() == "表示") {
//    $("#showlink").text("非表示");
//  } else {
//    $("#showlink").text("表示");
//  }
//}
</script>

<div class="mb-50">
<%= link_to 'アルバム一覧', albums_path, class: "btn" %>
<%= link_to '編集する', edit_album_path(@album), class: "btn btn-info" %>
</div>

<ul class="nav nav-tabs">
  <li><a href="#tab-description" data-toggle="tab"><i class="icon-list-alt"></i> <%= @album.title %></a></li>
  <li><a href="#tab-comments" data-toggle="tab"><i class="icon-comment"></i> アルバムへのコメント</a></li>
  <li><a href="#tab-upload" data-toggle="tab"><i class="icon-upload"></i> 写真アップロード</a></li>
</ul>

<div class="tab-content well well-small">
  <div id="tab-description" class="tab-pane">
    <h3>
      <%= "写真数：#{@photo_all_num}</small>".html_safe %>
      <small> 作成者：<%= @album.user.try(:dispname) %> | 作成日時：<%= l @album.created_at if @album.created_at %></small>
    </h3>
    <div class="description"><%= sani_custom_br(@album.description) %></div>
  </div>

  <div id="tab-comments" class="tab-pane">
    <div class="page-header">
      <h3><small>コメント数：<%= @album.album_comments.size %></small></h3>
    </div>

    <!-- アルバムへのコメント -->
    <div class="clearfix">
      <div class="span6">
        <div id="comment_area">
          <div id="comments">
            <%= render "album_comments/comments" %>
          </div>

          <%= form_for([@album, @comment], :remote => true) do |f| %>
            <div class="field">
            <%= f.text_area :content, rows: 4, class: "span6" %>
          </div>
          <%= f.hidden_field :album_id %>
          <div class="actions">
            <%= f.submit "コメントする", class: "btn btn-primary" %>
          </div>
        <% end -%>
        </div>
      </div>
    </div>
  </div>

  <div id="tab-upload" class="tab-pane">
    <div class="page-header">
      <h3><small>複数ファイル選択可能</small></h3>
    </div>

    <div id="fileQueue"></div>
    <%= hidden_field_tag :user_id %>
    <%= hidden_field_tag :album_id %>
    <%= file_field_tag :uploadify %><br />
    <strong class="important">※スマホからはアップできません</strong>
  </div>
</div> <!-- .tab-content -->


<% if @photos.size > 0 -%>
  <div class="page-header mt-50"><h3 class="normal">このアルバムの写真<small>写真をクリックするとスライドショーが開始されます</small></h3></div>

  <!-- ソート機能 -->
  <% #sort_list = [["アップロード順", 1], ["撮影日時順", 2], ["コメント順", 3], ["イイネされた順", 4]] -%>
  <% sort_list = {"1" => "アップロード順", "2" => "撮影日時順", "3" => "コメント順", "4" => "イイネされた順"} -%>
  <div class="input-append">
    <%= form_for @album4sort, url: album_path, :method => :get do |f| %>
      <%= f.select :user_id, @uploader_list.map{|u| [u[1], u[0]]}, {include_blank: "＜アップロード者＞"}, {class: "span3"} %>
      <%= f.select :sort_flg, sort_list.map{|s| [s[1], s[0]]}, {include_blank: "＜並び替え順＞"}, {class: "span3"} %>
      <%= f.submit "並び替え", class: "btn" %>
    <% end %>
  </div>

  <div class="alert alert-success">
    <h4><%= "#{@selected_uploader.dispname}がアップした写真が" if @selected_uploader.present? %>
      <%= sort_list[@sort_flg.to_s] %>で表示されています</h4>
  </div>
<% end -%>


<div class="autopagerize_page_element">
<%= paginate @photos, :window => 2, :outer_window => 2 %><br>
<div id="photo" class="clearfix">
<% @photos.each do |p| -%>
  <div class="once_photo">
    <div class="bar">
      <%= "#{p.title} (コメント数：#{p.photo_comments.size}）" %>&nbsp;<%= nice_field_disp_only(p) %>
    </div>
    <div class="photo">
      <% if request.smart_phone? -%>
        <%= link_to(image_tag(p.image(:thumb)), album_photo_path(@album, p)) if p.image? %>
      <% else -%>
        <%= link_to(image_tag(p.image(:thumb)), slideshow_album_photo_path(@album, p), {rel: "colorbox"}) if p.image? %>
      <% end -%>
    </div>
    <div class="info">
      投稿者：<%= p.user.try(:dispname) %><br />
      投稿日時：<%= l p.created_at if p.created_at %><br />
      撮影日時：<%= l p.exif_at if p.exif_at %><br />
      最新コメント日時：<%= l p.last_comment_at if p.last_comment_at %><br />

      <%= link_to '別ページで見る', album_photo_path(@album, p) %>
      <% if editable(current_user, p.user) -%>
        | <%= link_to '編集', edit_album_photo_path(@album, p) %>
      | <%= link_to '削除', album_photo_path(@album, p), :method => :delete, data: {confirm: '本当に削除してもよろしいですか？'} %>
      <% end -%>
    </div>
  </div>
<% end -%>
</div>
<%= paginate @photos, :window => 2, :outer_window => 2 %>
</div> <!-- autopagerize_page_element -->
