<% @board.board_comments.each do |co| -%>
  <div class="once_comment">
    <div class="bar">
      <span class="name"><%= co.user.dispname %></span><span class="time">投稿日時：<%= co.created_at.to_s(:long) %></span>
    </div>
    <div class="content">
      <div class="image">
        <% if co.attach? -%> 
          <%= link_to image_tag(co.attach(:thumb)), co.attach(:large), {:class => "colorbox"} %><br />
        <% end -%>
      </div>
      <div class="text"><%= br auto_link(co.content) %></div>
    </div>
    <%= link_to "削除する", destroy_comment_board_path(:id => co.id), :confirm => "本当に削除してもよろしいですか？" if editable(@current_user, co.user) %>
  </div>
<% end -%>

