<% @board.board_comments.each do |co| -%>
  <div class="well well-small">
    <legend><%= co.user.try(:dispname) %>　投稿日時：<%= l co.created_at %></legend>
    <div class="image">
      <% if co.attach? -%> 
        <%= link_to image_tag(co.attach(:thumb)), co.attach(:large), {:class => colorbox_class} %><br />
      <% end -%>
    </div>

    <p><%= sani_custom_br(co.content) %></p>
    <%= link_to "削除する", destroy_comment_board_path(:id => co.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"} if editable(current_user, co.user) %>
  </div>
<% end -%>
