  <div class="col-sm-7">
<%= link_to "新規作成", new_board_path, class: "btn btn-info" %>
<a href="#" id="new_board_info" data-toggle='popover' data-placement='bottom' data-content="<div style='font-size:13px'>長期に渡って報告したいことがあったり<br>みんなに意見を聞きたいときは、掲示板で作成するのがいいです。<br><br>また、コメントに画像をつけられるのは掲示板だけなので<br>そこも考慮するといいでしょう。</div>" data-original-title="日記との使い分け"><i class="icon-exclamation-sign"></i>&nbsp;日記との使い分け</a>

<div class="page-header"><h3>掲示板一覧</h3></div>
<div class="select_menu clearfix">
  <% [["最新コメント順", 1], ["作成日時順", 2]].each do |n, i| -%>
    <% if @sort == i -%>
      <%= link_to n, boards_path(:sort => i), class: "btn btn-danger disabled" %>
    <% else -%>
      <%= link_to n, boards_path(:sort => i), class: "btn btn-danger" %>
    <% end -%>
  <% end -%>
</div>

<%= paginate @boards, window: 3, outer_window: 2 %>
<% @boards.each do |board| %>
  <div class="well well-small">
    <legend><%= link_to "#{board.title} (コメント数：#{board.board_comments.size})", board %></legend>
    <% if board.attach? -%> 
      <%= link_to image_tag(board.attach(:thumb)), board.attach(:large), {:class => colorbox_class} %>
      <br />
    <% end -%>
    <div class="bar">
      <%= "作成者：#{board.user.dispname}" %> | <%= "作成日時：#{board.created_at.to_s(:short2)}" %>
      <%= " | 最新コメント日時：#{board.board_comments.last.created_at.to_s(:short2)}" if board.board_comments.last && board.board_comments.last.created_at %>
      <br />
      <% if editable(current_user, board.user) -%>
        <%= link_to '編集', edit_board_path(board) %>
        <%= link_to '削除', board, :method => :delete, data: {confirm: '本当に削除してもよろしいですか？'} %>
      <% end -%>
    </div>
  </div>
<% end %>
<%= paginate @boards, window: 3, outer_window: 2 %>

  </div>
