  <div class="col-sm-6">
<%= link_to "新規作成", new_board_path, class: "btn btn-info" %>

<div class="page-header"><h3>掲示板一覧</h3></div>
<ul class="nav nav-pills nav-fill mt20 mb20">
  <li class="nav-item">
    <%= link_to '最新コメント順', boards_path(sort: 1), class: "nav-link #{'active' if @sort == 1}" %>
  </li>
  <li class="nav-item">
    <%= link_to '作成日時順', boards_path(sort: 2), class: "nav-link #{'active' if @sort == 2}" %>
  </li>
</ul>

<%= paginate @boards, window: 3, outer_window: 2 %>
<% @boards.each do |board| %>
  <div class="well well-small">
    <h5><%= link_to "#{board.title} (コメント数：#{board.board_comments.size})", board %></h5>
    <% if board.attach? -%> 
      <%= link_to image_tag(board.attach(:thumb)), board.attach(:large), {:class => colorbox_class} %>
      <br />
    <% end -%>
    <div class="bar">
      <%= "作成者：#{board.user.dispname}" %> | <%= "作成日時：#{time_shorter(board.created_at)}".html_safe %>
      <%= " | 最新コメント日時：#{time_shorter(board.board_comments.last.created_at)}".html_safe if board.board_comments.present? %>
      <br />
      <% if editable(current_user, board.user) -%>
        <%= link_to '編集', edit_board_path(board) %>
      <% end -%>
    </div>
  </div>
<% end %>
<%= paginate @boards, window: 3, outer_window: 2 %>

  </div>
