<h3 class="normal"><%= link_to '新規作成', new_board_path %><span id="new_board_info" style="margin-left: 15px;font-size:75%;color:gray"><%= image_tag "info.png", :size => "20x20" %>日記との使い分け</span></h3> 

<h3 class="normal">並び替える</h3>
<div class="select_menu clearfix">
  <% [["最新コメント順", 1], ["作成日時順", 2]].each do |n, i| -%>
    <% if @sort == i -%>
      <%= link_to "<span class='selected'>#{n}</span>".html_safe, boards_path(:sort => i) %>
    <% else -%>
      <%= link_to "<span>#{n}</span>".html_safe, boards_path(:sort => i) %>
    <% end -%>
  <% end -%>
</div>

<%= will_paginate @boards, :previous_label=>'&#171;前', :next_label=>'次&#187;', :class => 'flickr_pagination' %>
<div id="board">
<% @boards.each do |board| %>
  <div class="once_board">
    <div class="title"><%= link_to "#{board.title} (コメント数：#{board.board_comments.size})", board %></div>
    <% if board.attach? -%> 
      <%= link_to image_tag(board.attach(:thumb)), board.attach(:large), {:class => colorbox_class} %>
      <br />
    <% end -%>
    <div class="bar">
      <%= "作成者：#{board.user.dispname}" %> | <%= "作成日時：#{board.created_at.to_s(:short2)}" %>
      <%= " | 最新コメント日時：#{board.board_comments.last.created_at.to_s(:short2)}" if board.board_comments.last && board.board_comments.last.created_at %>
      <br />
      <% if editable(current_user, board.user) -%>
        <%= link_to '編集', edit_board_path(board) %>
        <%= link_to '削除', board, :method => :delete, :confirm => '本当に削除してもよろしいですか？' %>
      <% end -%>
    </div>
  </div>
<% end %>
</div>
<%= will_paginate @boards, :previous_label=>'&#171;前', :next_label=>'次&#187;', :class => 'flickr_pagination' %>
