<div style="font-size:small">
  <div style="text-align:center;background-color:#FF924D;color:#ffffff;font-size:medium"><%= @board.title %></div>
  <div style="text-align:right;color: rgb(0, 128, 0);">
    作成者：<%= @board.user.dispname %><br />
    作成日時：<%= @board.created_at.to_s(:long) if @board.created_at %>
  </div>

  <div class="content">
    <%= image_tag(@board.attach(:thumb)) if @board.attach? %>
    <p class="text"><%= sani_br(@board.description) %></p>
  </div>
  
  <div style="text-align:center;background-color: rgb(217, 41, 10);color:#ffffff;font-size:medium">新規コメント</div>
  <br />
  <% form_tag({:action => :create_comment_mobile, :board_id => @board.id}) do %>
    <%= text_area_tag :comment, nil, :size => "20x4" %><br />
    <br />
    <%= submit_tag "投稿する" %>
  <% end -%>

  <br /><br />
  <div style="text-align:center;background-color: rgb(217, 41, 10);color:#ffffff;font-size:medium">コメント</div>
  <% @board_comments.each do |co| -%>
    <br />
    <div class="once_comment">
      <div style="background-color:#E1E1E1">
        <%= co.user.dispname %><br />投稿日時：<%= co.created_at.to_s(:long) %>
      </div>
      <div class="content">
        <div class="image">
          <% if co.attach? -%> 
            <%= image_tag(co.attach(:thumb)) %><br />
          <% end -%>
        </div>
        <div class="text"><%= sani_br(co.content) %></div>
      </div>
      <%= link_to "削除する", destroy_comment_board_path(:id => co.id), :confirm => "本当に削除してもよろしいですか？" if editable(@current_user, co.user) %>
    </div>
  <% end -%>

  <br /><br />
  <%= will_paginate @board_comments, :previous_label=>'&#171;前', :next_label=>'次&#187;', :class => 'flickr_pagination' %>
  
</div>
<br />
<br />
