  <div class="col-sm-6">

<div class="form-actions">
<%= link_to "掲示板一覧へ", boards_path, class: "btn btn-light" %>
<%= link_to "編集する", edit_board_path(@board), class: "btn btn-info" if editable(current_user, @board.user) %>
</div>

<div class="page-header">
  <h3><%= @board.title %><small><%= link_to "(コメント数：#{@board.board_comments.size}）", "#comments" %></small></h3>
</div>

<div class="once_content">
  <div class="info">
    作成者：<%= @board.user.dispname %> | 
    作成日時：<%= @board.created_at.to_s(:normal) if @board.created_at %>
  </div>
  <div class="description">
    <%= link_to image_tag(@board.attach(:thumb)), @board.attach(:large), {:class => colorbox_class} if @board.attach? %>
    <p class="text"><%= sani_custom_br(@board.description) %></p>
  </div>
</div>
<div class="clearfix"></div>

<%= link_to fa_icon('arrow-down') + " 最新コメントへ", "#comment_form", class: "btn btn-warning btn-block" %>

<div class="page-header">
  <h3>コメント</h3>
</div>

<div id="comments" class="clearfix">
  <%= render :partial => "comments" %>
</div>

<div id="comment_form">
<!-- ※↓form_tagの時は、「multipart」属性は「:html =>」をつけないこと -->
<%= form_tag({:action => :create_comment, :board_id => @board.id}, form_html_option) do %>
  <%= text_area_tag :comment, nil, class: "form-control", rows: "5", placeholder: "コメントする" %><br />
  <%= file_field_tag :attach, class: 'form-control' %><br />

  <div class="form-actions">
    <%= submit_tag "投稿する", class: "btn btn-primary" %>
  </div>
<% end -%>
</div>

 </div>
