<%= simple_form_for [@photo.album, @photo] do |f| %>
  <%= f.inputs do %>
    <%= f.input :title, label: "タイトル" %>
    <%= f.input :description, label: "概要" %>
    <%= f.input :image, as: :file, label: "写真" %>
    <%#= f.input :exif_at %>
    <%#= f.input :last_comment_at %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
