<h1>Listing photos</h1>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Description</th>
    <th>Album</th>
    <th>Exif at</th>
    <th>Last comment at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photos.each do |photo| %>
  <tr>
    <td><%= photo.user_id %></td>
    <td><%= photo.title %></td>
    <td><%= photo.description %></td>
    <td><%= photo.album_id %></td>
    <td><%= photo.exif_at %></td>
    <td><%= photo.last_comment_at %></td>
    <td><%= link_to 'Show', photo %></td>
    <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
    <td><%= link_to 'Destroy', photo, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photo', new_photo_path %>
