<div class="row">
  <div class="span9 offset1">

<%= link_to "アルバム：#{@photo.album.title}に戻る", @photo.album, class: "btn" %>
<%= link_to '編集する', edit_album_photo_path(@photo.album, @photo), class: "btn btn-info" %>

<div class="once_content mgn-t40">
  <div class="title for_index">
    <%= "#{@photo.title} " %>
    <%= link_to "(コメント数：#{@photo.mutter_comments.select{|n| n.id.present?}.size}）", "#comment_area" %>
  </div>
  <div class="info">
    投稿者：<%= @photo.user.dispname %> | 
    投稿日時：<%= l @photo.created_at if @photo.created_at %> | 
    撮影日時：<%= l @photo.exif_at if @photo.exif_at %>
  </div>
  <div class="description">
    <div style="text-align:center""><%= image_tag(@photo.image(:large)) if @photo.image? %></div>
    <%= link_to "元画像", @photo.image(:original) if @photo.image? %>
    <p class="text"><%= sani_custom_br(@photo.description) %></p>
  </div>
  <div class="nice">
    <span id="update_nice">
      <%= nice_field(@photo, "photo", "#update_nice") %>
    </span>
  </div>
</div>

<div id="slideshow_comment">
  <h3 class="normal">コメント <span id="comment_area"><%= link_to "(上部に移動)", "#slideshow" %></h3>
  <div id="photo_comments">
    <%= render :partial => "comments" %>
  </div>

  <div id="photo_comment_form">
    <%= form_tag create_comment_album_photo_path(@photo.album, @photo), remote: true do |f| %>
      <%= text_area_tag :content, nil, rows: 5, class: "span5", placeholder: "コメントする" %><br />
      <%= submit_tag "投稿する", class: "btn btn-primary", :data => {:disable_with => "投稿しています"} %>
    <% end -%>
    <br /><br />
  </div>
</div>

  </div>
</div>

