<div class="col-sm-12">
<% if @from_top_flg %>
  <div class="well">
  <% if editable(current_user, @photo.user) %>
    <h3>写真情報の編集</h3>
    <%= form_for @photo, :url => update_from_slideshow_album_photo_path(@photo.album, @photo), :remote => true do |f| %>
      タイトル<br />
      <%= f.text_field :title, class: 'form-control' %><br />
      写真の説明<br />
      <%= f.text_area :description, rows: 5, class: "form-control" %><br />
      <%= f.submit "編集する", class: "btn btn-primary" %>※この画像のアップロード者のみ可能
    <% end -%>
    <div id="info"></div>
    <hr />
  <% end -%>
  </div>
  <div style="text-align:center">
    <div style="margin:20px;font-size:18px;color:gray">
      アルバム：<%= link_to @photo.album.title, @photo.album %>
    </div>
  </div>
<% end -%>

<div id="slideshow">
  <%= render :partial => "slidecontent" %>
</div>

<h3 class="normal mt30">コメント <span id="comment_area"><%= link_to "(上部に移動)", "#slideshow" %></h3>
<div id="photo_comments">
  <%= render :partial => "comments" %>
</div>

<div id="photo_comment_form" class="mb20">
  <%= form_tag create_comment_album_photo_path(@photo.album, @photo), remote: true do |f| %>
    <%= text_area_tag :content, nil, rows: 4, class: "form-control", placeholder: "コメントする" %><br />
    <%= submit_tag "コメントを投稿", class: "btn btn-primary", :data => {:disable_with => "投稿しています"} %>
  <% end -%>
</div>
</div>
