<% if @action_flg != nil && @action_flg != 0 %>
  <%= form_tag search_mutters_path, {:remote => true, :method => :get} do %>
    <%= hidden_field_tag :action_flg, 0 %>
    <%= submit_tag "検索結果を解除する" %>
  <% end -%>
<% end -%>

<table class='data'>
<% @mutters.each_with_index do |m, cnt| %>
  <% if cnt == Mutter::MUTTER_DATA_VISIBLE -%>
    </table>
    <table class='data' id='hide_range' style='display:none'>
  <% end -%>

  <tr <%= "class='even'" if cnt%2==0  %>>
    <td class='time'><%= m.created_at.to_s(:short_br2).html_safe %></td>
    <td class='name'><%= link_to m.user.dispname, {:action => "user", :user_id => m.user.id}, {:title => m.user.dispname(User::FULLNAME)} %></td>
<% if m.image? -%> 
    <td class='content'><%= auto_link(m.view_content).html_safe %></td>
    <td class='image'><%= link_to(image_tag(m.image(:thumb)), m.image(:large), {:class => colorbox_class}) %></td>
<% else -%>
    <td colspan=2 class='content non_image'><%= auto_link(m.view_content).html_safe %></td>
<% end -%>
    <td class='delete'><%= link_to("削除", m, :confirm => "本当に削除してもよろしいですか？", :method => :delete) if editable(current_user, m.user) %></td>
  </tr>
<% end %>
</table>
