<table class='data'>
<% cnt = 0 -%>
<% mutters.each do |m| %>
  <% if cnt == Mutter::MUTTER_DATA_VISIBLE -%>
    </table>
    <table class='data' id='hide_range' style='display:none'>
  <% end -%>

  <tr <%= "class='even'" if cnt%2==0  %>>
    <td class='time'><%= m.created_at.to_s(:short_br2).html_safe %></td>
    <td class='name'><%= link_to m.user.dispname, {:action => "user", :user_id => m.user.id}, {:title => m.user.dispname(User::FULLNAME)} %></td>
<% if m.image? -%> 
    <td class='content'><%= auto_link(m.content) %></td>
    <td class='image'><%= link_to(image_tag(m.image(:thumb)), m.image(:large), {:class => 'colorbox'}) %></td>
<% else -%>
    <td colspan=2 class='content2'><%= auto_link(m.content) %></td>
<% end -%>
    <td class='delete'><%= link_to("削除", m, :confirm => "本当に削除してもよろしいですか？", :method => :delete) if editable(current_user, m.user) %></td>
  </tr>
  <% cnt = cnt + 1 -%>
<% end %>
</table>
