<ul class="nav nav-tabs mb15">
  <li class="nav-item">
    <%= link_to "みんなの", root_path, class: "nav-link #{'active' if @leave_me.blank?}" %>
  </li>
  <li class="nav-item">
  <%= link_to "ひとりごと <span class='badge badge-warning'>#{@count_unread_leave_me_mutters}</span>".html_safe, mutters_path(leave_me: true), class: "nav-link #{'active' if @leave_me.present?}" %>
  </li>
</ul>

<% if @action_flg != nil && @action_flg != 0 %>
  <%= form_for @mutter, url: search_mutters_path, :remote => true, :method => :get do |f| %>
    <%= f.hidden_field :action_flg, value: 0 %>
    <%= f.submit "検索結果を解除する", class: "btn" %>
  <% end -%>
<% end -%>

<div class="well">
<div class="autopagerize_page_element">
  <ul class="mutter_rows">
    <%= render :partial => 'mutter_row', :collection => @mutters %>
  </ul>
  <% if @action_flg.present? %>
    <% query = {action_flg: @action_flg, search_word: @search_word, user_id: @user_id} %>
  <% end %>
  <% # [memo] ここはsearchメソッドの中でformat JSとしたいがためにremoteにしておく %>
  <% # 通常時はページネーションは表示せず、AutoPagerによって読み込まれる -%>
  <div style="display:none"><%= paginate @mutters, remote: true, params: {action: "search", mutter: query, leave_me: (@leave_me.blank? ? "" : 1)} %></div>

  <%= link_to "すべて見る", {:action => :all}, class: "btn" %>
</div> <!-- autopagerize_page_element -->
</div>
