<% if @action_flg != nil && @action_flg != 0 %>
  <%= form_for @mutter, url: search_mutters_path, :remote => true, :method => :get do |f| %>
    <%= f.hidden_field :action_flg, value: 0 %>
    <%= f.submit "検索結果を解除する", class: "btn" %>
  <% end -%>
<% end -%>

<div class="autopagerize_page_element">
  <ul class="mutter_rows">
    <%= render :partial => 'mutter_row', :collection => @mutters %>
  </ul>
  <div style="display:none"><%= paginate @mutters, window: 2 %></div>
  <%= link_to "すべて見る", {:action => :all}, class: "btn" %>
</div> <!-- autopagerize_page_element -->

