<% if mutter_row == @created_mutter -%>
  <li class="clearfix" <%= "style='border:3px solid red'" %>>
<% else -%>
  <li class="clearfix">
<% end -%>

<div class="clearfix">
<div class="icon span1" style="margin-left: 6px;">
  <p>
  <% if  mutter_row.user.present? && mutter_row.user.user_ext.image? -%>
    <%= image_tag mutter_row.user.user_ext.image(:small), :size => "50x50"  %>
  <% else -%>
    <%= image_tag 'noimage.gif', :size => "50x50"  %>
  <% end -%>
  </p>
</div>
<div class="span">
  <div class="bar clearfix">
    <span class='label label-inverse'><%= useragent(mutter_row.ua) %></span>
    <span class='name'>&nbsp;<%= link_to mutter_row.user.dispname, mutter_by_user_path(mutter_row.user.id), {:title => mutter_row.user.dispname(User::FULLNAME)} if mutter_row.user.present? %></span>
    <span class='time'><%= link_to (l mutter_row.created_at), mutter_path(mutter_row) %></span>
    <span class="nice">
      <span id='cont_<%= mutter_row.id %>'>
        <%= nice_field(mutter_row, "mutter", "#cont_#{mutter_row.id}") %>
      </span> 
      <% # 検索時などはmutter_rowが子である場合もあるので要判定 -%>
      <% if mutter_row.parent? -%>
        <a data-toggle="modal" href="#myModal<%= mutter_row.id %>" ><i class="icon-comment"></i>&nbsp;レス</a>
      <% end -%>
    </span>
  </div>
  <div class="content clearfix">
    <%= link_to(image_tag(mutter_row.image(:thumb), align: :left), mutter_row.image(:large), {:class => colorbox_class}) if mutter_row.image? %>
    <%= sani_org(mutter_row.view_content) %>
  </div>
  <div class='delete'><%= link_to("削除", mutter_row, data: {confirm: "本当に削除してもよろしいですか？"}, :method => :delete, remote: true) if editable(current_user, mutter_row.user) %></div>
</div>
</div>

<!-- つぶやきへのレス -->
<% if mutter_row.children.present? -%>
<ul class="children">
  <% #childrenはつぶやき時間昇順で表示する -%>

  <% initial_visible_count = 5 -%>
  <% count = mutter_row.children.size -%>
  <% if count > initial_visible_count -%>
    <div class="btn btn-block" onclick="javascript:showComments(this)"><i class="icon-plus"></i>全部見る<i class="icon-plus"></i></div>
  <% end -%>
  <% mutter_row.children.reverse.each_with_index do |child, idx| -%>
    <% # 最後のコメントは常時表示させておく。中間のコメントはボタンによってトグル表示 -%>
    <% if idx + initial_visible_count < count -%>
      <li class="clearfix" style="display:none">
    <% elsif idx + 1 == count -%>
      <li class="clearfix last_children">
    <% else -%>
      <li class="clearfix">
    <% end -%>

    <div class="icon span1" style="margin-left: 6px;">
      <p>
      <% if  child.user.present? && child.user.user_ext.image? -%>
        <%= image_tag child.user.user_ext.image(:small), :size => "50x50"  %>
      <% else -%>
        <%= image_tag 'noimage.gif', :size => "50x50"  %>
      <% end -%>
      </p>
    </div>
    <div class="span">
      <div class="bar clearfix">
        <span class='label label-inverse'><%= useragent(child.ua) %></span>
        <span class='name'>&nbsp;<%= link_to child.user.dispname, mutter_by_user_path(child.user.id), {:title => child.user.dispname(User::FULLNAME)} if child.user.present? %></span>
        <span class='time'><%= link_to (l child.created_at), mutter_path(child) %></span>
        <span class="nice">
          <span id='cont_<%= child.id %>'>
            <%= nice_field(child, "mutter", "#cont_#{child.id}") %>
          </span>
          <!-- sakikazu とりあえずできない -->
          <!-- <a data-toggle="modal" href="#myModal<%#= child.id %>" >レス</a> -->
        </span>
      </div>
      <div class="content clearfix">
        <%= link_to(image_tag(child.image(:thumb), align: :left), child.image(:large), {:class => colorbox_class}) if child.image? %>
        <%= sani_custom(child.view_content) %>
      </div>
      <div class='delete'><%= link_to("削除", child, data: {confirm: "本当に削除してもよろしいですか？"}, :method => :delete, remote: true) if editable(current_user, child.user) %></div>
    </div>

    </li>
  <% end -%>
</ul>
<% end -%>

</li>


<!-- レス用モーダル -->
<div class="modal" id="myModal<%= mutter_row.id %>" style="display:none">
  <% @mutter ||= Mutter.new(user_id: current_user.id) -%>
  <% @mutter.reply_id = mutter_row.id -%>
  <%= form_for @mutter, html: {multi_part: true} do |f| %>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>返信</h3>
    </div>
    <div class="modal-body">
      <div id="form" class="clearfix">
        <div class="left">
          <%= f.text_area :content, rows: 3, class: "span5", placeholder: "「#{mutter_row.content}」へのレス" %><br>
          <%= f.file_field :image %>
          <%= f.hidden_field :user_id %>
          <%= f.hidden_field :reply_id %>
        </div>
        <div class="left">
          <br>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <%= f.submit "返信する", class: "btn btn-primary", style: "z-index:98" %>
      <a href="#" class="btn" data-dismiss="modal" style="z-index:99">キャンセル</a>
    </div>
  <% end -%>
</div>

