<li class='bg-light'>
<%= render 'mutters/mutter', mutter: mutter_with_comments %>

<!-- つぶやきへのレス -->
<% has_children = mutter_with_comments.children.present? -%>
<ul class="children" style="display:<%= has_children ? 'block' : 'none' %>">
  <% if has_children %>
    <% #childrenはつぶやき時間昇順で表示する -%>

    <% count = mutter_with_comments.children.size -%>
    <% if count > Mutter::VISIBLE_INITIAL_COMMENTS -%>
      <div class="btn btn-light btn-block" onclick="javascript:showComments(this)"><%= fa_icon 'plus' %> 全部見る <%= fa_icon 'plus' %></div>
    <% end -%>
    <% mutter_with_comments.children.reverse.each_with_index do |child, idx| -%>
      <% if idx + Mutter::VISIBLE_INITIAL_COMMENTS < count -%>
        <li class="clearfix" style="display:none">
      <% elsif idx + 1 == count -%>
        <li class="clearfix last_children">
      <% else -%>
        <li class="clearfix">
      <% end -%>

        <%= render 'mutters/mutter', mutter: child %>
      </li>
    <% end -%>
  <% end -%>
</ul>

<!-- レス用モーダル -->
<div class="modal fade modal-mutter-reply" id="myModal<%= mutter_with_comments.id %>">
  <div class="modal-dialog">
    <div class="modal-content">
  <% mutter = Mutter.new(reply_id: mutter_with_comments.id) -%>
  <%= form_for mutter, html: {multi_part: true}, remote: true do |f| %>
    <div class="modal-header">
      <h3 class='modal-title'>返信</h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div id="form" class="clearfix">
        <div class="left">
          <%= f.text_area :content, rows: 3, class: "form-control", placeholder: "「#{mutter_with_comments.content}」へのレス" %><br>
          <%= f.file_field :image, class: 'form-control' %>
          <%= f.hidden_field :reply_id %>
        </div>
        <div class="left">
          <br>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" data-dismiss="modal">キャンセル</button>
      <%= f.submit "返信する", class: "btn btn-primary", :data => {:disable_with => "投稿中..."} %>
    </div>
  <% end -%>
    </div>
  </div>
</div>

</li>
