<% if mutter_row == @created_mutter -%>
  <li <%= "style='border:3px solid red'" %>>
<% else -%>
  <li>
<% end -%>

<%= render 'mutters/mutter', mutter: mutter_row %>

<!-- つぶやきへのレス -->
<% if mutter_row.children.present? -%>
<ul class="children">
  <% #childrenはつぶやき時間昇順で表示する -%>

  <% initial_visible_count = 3 -%>
  <% count = mutter_row.children.size -%>
  <% if count > initial_visible_count -%>
    <div class="btn btn-block" onclick="javascript:showComments(this)"><i class="icon-plus"></i> 全部見る <i class="icon-plus"></i></div>
  <% end -%>
  <% mutter_row.children.reverse.each_with_index do |child, idx| -%>
    <% # 最後のコメントは常時表示させておく。中間のコメントはボタンによってトグル表示 -%>
    <% if idx + initial_visible_count < count -%>
      <li class="clearfix" style="display:none">
    <% elsif idx + 1 == count -%>
      <li class="clearfix last_children">
    <% else -%>
      <li class="clearfix">
    <% end -%>

      <%= render 'mutters/mutter', mutter: child %>
    </li>
  <% end -%>
</ul>
<% end -%>

</li>


<!-- レス用モーダル -->
<div class="modal modal-mutter-reply" id="myModal<%= mutter_row.id %>" style="display:none">
  <% @mutter ||= Mutter.new(user_id: current_user.id) -%>
  <% @mutter.reply_id = mutter_row.id -%>
  <%= form_for @mutter, html: {multi_part: true}, remote: true do |f| %>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>返信</h3>
    </div>
    <div class="modal-body">
      <div id="form" class="clearfix">
        <div class="left">
          <%= f.text_area :content, rows: 3, class: "span5", placeholder: "「#{mutter_row.content}」へのレス" %><br>
          <%= f.file_field :image %>
          <%= f.hidden_field :user_id %>
          <%= f.hidden_field :reply_id %>
        </div>
        <div class="left">
          <br>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <%= f.submit "返信する", class: "btn btn-primary", style: "z-index:98" %>
      <a href="#" class="btn" data-dismiss="modal" style="z-index:99">キャンセル</a>
    </div>
  <% end -%>
</div>

