<div class="mutter_content" id="mutter<%= mutter.id %>">
  <div class="icon">
    <p>
    <%= image_tag mutter.user_image_path, :size => "50x50", alt: "プロフィール画像" %>
    </p>
  </div>
  <div class="content-area">
  <% if request.smart_phone? %>
    <div class="info-area smp">
      <%= link_to mutter.user.dispname, mutter_by_user_path(mutter.user.id), {:title => mutter.user.dispname(User::FULLNAME)} if mutter.user.present? %><br>
      <%= link_to (l mutter.created_at), mutter_path(mutter, anchor: "mutter#{mutter.id}") %><br>
      <span class="nice">
        <span id='cont_<%= mutter.id %>'>
          <%= nice_field(mutter, "mutter", "#cont_#{mutter.id}") %>
        </span>
        <% # 検索時などはmutterが子である場合もあるので要判定 -%>
        <% if mutter.parent? -%>
          <a data-toggle="modal" href="#myModal<%= mutter.id %>" ><i class="icon-comment"></i>&nbsp;レス</a>
      <% end -%>
      </span>
    </div> <!-- info-area -->

  <% else %>
    <div class="info-area">
      <div class="info-left">
        <span class='label label-inverse'><%= useragent(mutter.ua) %></span>
        <span class='name'>&nbsp;<%= link_to mutter.user.dispname, mutter_by_user_path(mutter.user.id), {:title => mutter.user.dispname(User::FULLNAME)} if mutter.user.present? %></span>
        <span class='time'><%= link_to (l mutter.created_at), mutter_path(mutter, anchor: "mutter#{mutter.id}") %></span>
      </div>
      <div class="info-right">
        <span class="nice">
          <span id='cont_<%= mutter.id %>'>
            <%= nice_field(mutter, "mutter", "#cont_#{mutter.id}") %>
          </span>
          <% # 検索時などはmutterが子である場合もあるので要判定 -%>
          <% if mutter.parent? -%>
            <a data-toggle="modal" href="#myModal<%= mutter.id %>" ><i class="icon-comment"></i>&nbsp;レス</a>
        <% end -%>
        </span>
      </div>
    </div> <!-- info-area -->
  <% end %>

    <div class="content">
      <%= raw draw_content(mutter) %>
    </div>
    <div class='delete'>
      <p><%= link_to("削除", mutter, data: {confirm: "本当に削除してもよろしいですか？"}, :method => :delete, remote: true) if editable(current_user, mutter.user) %></p>
    </div>
  </div>
</div>
