<% @updates.each do |up| -%>
  <% next if up.action_type == UpdateHistory::ALBUMPHOTO_COMMENT_FOR_PHOTO -%>
  <div class="once">
    <%= up.updated_at.to_s(:long) if up.updated_at %><span class="name"><%= up.user.dispname %></span><br />
    <% ai = action_info(up) -%>
    <b>[<%= ai[:content_name] %>]<%= ai[:link] %></b>
    <br /><%= ai[:info] %>
    <hr />
  </div>
<% end -%>
