<% @updates.each do |up| -%>
  <div class="once_row">
    <div class="bar">
      <span class="name"><%= up.user.dispname %></span>
      <span class="time"><%= l up.updated_at if up.updated_at %></span>
    </div>
    <% ai = action_info(up) -%>
    <b>[<%= ai[:content_name] %>]<%= ai[:link] %></b>
    <br /><%= ai[:info] %>
  </div>
<% end -%>
