<% @updates.each do |up| -%>
  <tr>
    <td>
      <strong class="left" style="color:gray"><%= up.user.dispname if up.user.present? %></strong>
      <div class="right" style="color:gray"><%= up.updated_at.to_s(:long) if up.updated_at %></div>
      <br>
    <% ai = action_info(up) -%>
    <span class='label label-inverse'><%= ai[:content_name] %></span>　<%= ai[:link] %>
    <br /><%= ai[:info] %>
    </td>
  </tr>
<% end -%>
