<script>
$(document).ready(function() {

  $.autopager({
    content: '.autopagerize_page_element', // コンテンツ部分のセレクタ 
    //次ページリンクのセレクタ(Default: 'a[rel=next]')
    //link   : '.next_page',  //デフォルトでいいのでコメントアウト 
    load: function(current, next) {
      var pageBreak = '<p>ページ: <a href="' + current.url + '">' + current.page + '</a></p>';
      //thisは読み込んだコンテンツ要素を指す
      $(this).before(pageBreak);
      //読み込んだページに再度colorboxを適用させる
      $(".colorbox").colorbox();
    }
  });

}); //jquery#ready
</script>

<div id="mutter">
つぶやき総数: <%= @mutters.total_entries %>
<%= will_paginate @mutters, :previous_label=>'&#171;前', :next_label=>'次&#187;', :class => 'flickr_pagination' %>
<br />
<div class="autopagerize_page_element">
<ul class="mutter_rows">
  <% @mutters.each_with_index do |mutter, cnt| %>
    <li <%= "class='even'" if cnt%2==0  %>>
    <div class="left icon">
      <p><%= image_tag mutter.user.user_ext.image(:small), :size => "50x50" if mutter.user.user_ext.image? %></p>
    </div>
    <div class="left content_wrap">
      <%= render :partial => 'mutter_row', :locals => {:mutter => mutter} %>
    </div>
    <div class="clear"></div>
    </li>
  <% end %>
</ul>
<%= will_paginate @mutters, :previous_label=>'&#171;前', :next_label=>'次&#187;', :class => 'flickr_pagination' %>
</div> <!-- autopagerize_page_element -->
</div>

<div class="right_side_bar">
<% cache :mutter_by_user do %>
  <div id="mutter_by_user">
    <p class="title">メンバー</p>
    ()内はつぶやき数
    <ul>
    <% @users.each do |user| -%>
      <li><%= link_to user.dispname(User::FULLNAME), mutter_by_user_path(user.id) %>(<%= @users_mcnt[user.id] %>)</li>
    <% end -%>
    </ul>
  </div>
<% end -%>
</div>
