<div class="col-sm-6">
    <div id="mutter">
      <div class='form-actions mb20'>
        <%= link_to 'グラフを見る', graph_mutters_path, :class => "btn btn-light" %>
      </div>
      <div class="page-header"><h3>つぶやき総数: <%= @mutters.total_count %></h3></div>
      <%= paginate @mutters, window: 2, outer_window: 3 %>

      <div class="well text-center">
        <%= form_for @mutter, url: search_mutters_path, method: :get, html: { class: 'form-inline d-inline' } do |f| %>
          <%= f.text_field :search_word, class: "form-control" %>
          <%= f.hidden_field :action_flg, value: 1 %>
          <%= f.submit "内容から検索する", class: "btn btn-info" %>
        <% end %>
        <%= link_to '画像が含まれる', search_mutters_path("mutter[action_flg]" => 2), class: "btn btn-info" %>
        <%= link_to 'URLが含まれる', search_mutters_path("mutter[action_flg]" => 3), class: "btn btn-info" %>
      </div>

      <div class="autopagerize_page_element">
        <ul class="mutter_rows">
          <%= render :partial => 'mutter_with_comments', :collection => @mutters %>
        </ul>
        <%= paginate @mutters, window: 2, outer_window: 3 %>
      </div> <!-- autopagerize_page_element -->
    </div>
  </div> <!-- span -->

  <% unless @action_is_search -%>
    <div class="right_side_bar col-sm-2">
      <% cache :mutter_by_user do %>
        <div id="mutter_by_user">
          <div class="page-header"><h3>メンバー<small>()内はつぶやき数</small></h3></div>
          <ul class='pl-3'>
            <% @users.each do |user| -%>
              <li><%= link_to user.try(:dispname, User::FULLNAME), mutter_by_user_path(user.id) %>(<%= @users_mcnt[user.id] %>)</li>
            <% end if @users.present? -%>
          </ul>
        </div>
      <% end -%>
    </div>
  <% end -%>
