<div class="row">
  <div class="span8">
    <div id="mutter">
      <div class="page-header"><h3>つぶやき総数: <%= @mutters.total_count %></h3></div>
      <div><%= link_to 'グラフを見る', graph_mutters_path, :class => "btn" %></div>
      <%= paginate @mutters, window: 2 %>
      <br />

      <div id="form_search" class="well" style="padding-left:8px; padding-right:8px;">
      <div class="input-append">
        <%= form_for @mutter, url: search_mutters_path, :method => :get do |f| %>
          <%= f.text_field :search_word, class: "span2" %>
          <%= f.hidden_field :action_flg, value: 1 %>
          <%= f.submit "発言内容から検索する", class: "btn btn-info" %>
        <% end %>
        <%= form_for @mutter, url: search_mutters_path, :method => :get do |f| %>
          <%= f.hidden_field :action_flg, value: 2 %>
          <%= f.submit "画像が含まれる", class: "btn btn-info" %>
        <% end %>
        <%= form_for @mutter, url: search_mutters_path, :method => :get do |f| %>
          <%= f.hidden_field :action_flg, value: 3 %>
          <%= f.submit "URLが含まれる", class: "btn btn-info" %>
        <% end %>
      </div>
      </div>


      <div class="autopagerize_page_element">
        <ul class="mutter_rows">
          <%= render :partial => 'mutter_row', :collection => @mutters %>
        </ul>
        <%= paginate @mutters, window: 2 %>
      </div> <!-- autopagerize_page_element -->
    </div>
  </div> <!-- span -->

  <% unless @action_is_search -%>
    <div class="right_side_bar span4">
      <% cache :mutter_by_user do %>
        <div id="mutter_by_user">
          <div class="page-header"><h3>メンバー<small>()内はつぶやき数</small></h3></div>
          <ul>
            <% @users.each do |user| -%>
              <li><%= link_to user.try(:dispname, User::FULLNAME), mutter_by_user_path(user.id) %>(<%= @users_mcnt[user.id] %>)</li>
            <% end if @users.present? -%>
          </ul>
        </div>
      <% end -%>
    </div>
  <% end -%>
</div> <!-- row -->
