<%# content_for :add_jscss do %>
  <%#= stylesheet_link_tag 'jquery.jqplot.min' %>
  <%#= javascript_include_tag 'jqplot/jquery.jqplot.min' %>
  <%#= javascript_include_tag 'jqplot/excanvas.min' %>
  <%#= javascript_include_tag 'jqplot/plugins/jqplot.cursor.min' %>
  <%#= javascript_include_tag 'jqplot/plugins/jqplot.highlighter.min' %>
  <%#= javascript_include_tag 'jqplot/plugins/jqplot.dateAxisRenderer.min' %>
  <%#= javascript_include_tag 'jqplot/plugins/jqplot.barRenderer.min' %>
<%# end %>

<script>
$(document).ready(function() {

  var line1=[
<% @mutters_count.each do |data| -%>
  <%= "['#{data[0]}', #{data[1]}],".html_safe %>
<% end -%>
  ];
  var plot = $.jqplot('chart', [line1], {
    title:'つぶやき数(<%= @range_for_title %>)',
    gridPadding:{right:20},
    axes:{
      xaxis:{
        renderer:$.jqplot.DateAxisRenderer,
        tickOptions:{formatString:'<%= @format %>'},
        min:'<%= @min %>',
        tickInterval:'<%= @interval %>'
      }
    },
    seriesDefaults: {
      renderer:$.jqplot.BarRenderer,
      rendererOptions: {
        barPadding: 2,      // number of pixels between adjacent bars in the same
        // group (same category or bin).
        barMargin: 5,      // number of pixels between adjacent groups of bars.
        barDirection: 'vertical', // vertical or horizontal.
        barWidth: 14,     // width of the bars.  null to calculate automatically.
        shadowOffset: 2,    // offset from the bar edge to stroke the shadow.
        shadowDepth: 2,     // nuber of strokes to make for the shadow.
        shadowAlpha: 0.8,   // transparency of the shadow.
      }
    },
    highlighter: {
      show: true,
      sizeAdjust: 7.5
    },
    cursor: {
      show: false
    }
  });
}); //jquery#ready
</script>

<div class='col-sm-10'>
<div id="mutter_graph">
<%= simple_form_for @mutter, url: graph_mutters_path, :method => "get" do |f| %>
  <%= f.select "year", (2008..Date.today.year).map{|y| [y, y]}, input_html: {class: "span1"} %>
  <%= f.select "month", (1..12).map{|m| [m, m]}, :include_blank => true, class: "span1" %>
  <%= f.submit "期間を選択して表示", :class => "btn btn-light" %>
<% end -%>
<%= form_tag graph_mutters_path, :method => "get" do %>
  <%= hidden_field_tag :all, 1 %>
  <%= submit_tag "全期間を表示", :class => "btn btn-light" %>
<% end -%>
</div>


<div id="chart"></div>
</div>
