<script>
// ログインユーザー表示数制御
show_recent_login_users = function(){
  $link = $('#link_recent_login_users')
  if($link.text() != '隠す'){
    $('.hide_row').show();
    $link.text('隠す');
  }else{
    $('.hide_row').hide();
    $link.text('もっと見る(直近40人分)');
  }
}

$(document).ready(function(){
  slide_effect();

  //mutter表示行数制限
// AutoPagerにしたことで不要になった
//  data_toggle = (function(){
//    $hidden_data = $('ul.mutter_rows>li:gt(<%#= Mutter::MUTTER_DATA_VISIBLE %>)');
//    $hidden_data.hide();
//    $show_btn = $('#show_more');
//    $show_btn.data('show', false);
//  });
//  data_toggle();

//  $show_btn.click(function(){
//    if($show_btn.data('show') == false) {
//      $hidden_data.show();
//      $show_btn.text('隠す');
//      $show_btn.data('show', true);
//    }else {
//      $hidden_data.hide();
//      $show_btn.text('もっと見る');
//      $show_btn.data('show', false);
//    }


//sakikazu $hidden_dataは集合データなので、↓でやると要素の一つ一つにfunctionが設定されてるぽくて負荷が高まった。注意。
//    $hidden_data.toggle(300, function(){
  //      if ($hidden_data.is(":visible")) {
    //        $('#show_more').text('隠す');
    //      }else {
    //        $('#show_more').text('もっと見る');
    //      }
//    });
//  });


  // submit押下時、ファイルが添付されてなかったら、AjaxでPOSTする
  $m_form = $('form#new_mutter:first');
  $m_form.submit(function(event) {
    if($('#mutter_content', $m_form).val() == "") {
      event.preventDefault();
      alert('つぶやきを入力しないと投稿できません');
      return false; //preventDefault()してても、下記処理に入らないようにreturnしておく
    }
    if($(':file:first', $m_form).val() == "") {
      event.preventDefault();
      $.post(
        '/mutters',
        $('input, textarea', $m_form).serialize(),
        function(data) {
          $('#mutter_content', $m_form).val('');
          $('#mutter_data').html(data);
          $(document).ready(function(){
            $(".colorbox").colorbox();
            $("#create_notification").show().fadeOut(3000);
          })
        }
      );
    }
  });

  // つぶやき表示更新
<% if Rails.env == "production" %>
  setInterval(function(){
    $.get("<%= update_disp_mutters_path %>", function(data){
      if(data != "") {
        $("#mutter_data").html(data);
        $(document).ready(function(){
          $(".colorbox").colorbox();
        })
      }
    });
  }, <%= @dispupdate_interval %>);
<% end %>

// つぶやき検索
$(document).on('click', 'a.js_search_mutter', function() {
  $form = $('#form_search form');
  $('#mutter_action_flg', $form).val($(this).attr('rel'));
  $form.submit();
  return false;
});

}); // document.ready
</script>

<div class="row">
  <div class="span4">
    <div class="well sidebar-nav">
      <legend class="text-center">― 日齢 ― 生まれて何日？</legend>
      <div id="nichirei">
        <% if @nichirei -%>
          <div class="main"><%= @nichirei %>日</div>
          <% @nichirei_future.each do |n| -%>
            <%= "#{n[0]}日: #{n[1].strftime("%Y/%m/%d")}" %><br />
          <% end -%>
        <% else -%>
          ※生年月日を登録している人のみ
        <% end -%>
      </div>
    </div><!--/.well -->

    <div class="well sidebar-nav">
      <legend class="text-center">みんなの誕生記念日</legend>
      <div class="text-center" style="margin:auto">
        <% @kinen.each do |k| -%>
          <% if k[:count] == 0 || k[:count] == -1-%>
            <p style="margin-bottom: 5px">
            <i class="icon-music"></i> <%= "#{k[:user].dispname}さん" %>
            <span class="important big"><%= k[:count] == 0 ? "本日" : "昨日" %></span>
            <span class="main"><%= "#{k[:kinen_name]}" %></span> <i class="icon-music"></i>
            </p>
            <div class="mgn-b20">
              <%= link_to '祝う', {:action => :celebration_new, :user_id => k[:user].id}, :class => colorbox_class + " btn btn-info" %>
              <%= link_to 'お祝いを見る', {:action => :celebration, :user_id => k[:user].id}, :remote => true, :class => "btn btn-warning" %>
            </div>

          <% else -%>
            <p class="mgn-b20">
            <i class="icon-music"></i> <%= "#{k[:user].dispname}さん" if k[:user].present? %>
            <span class="important big"><%= "あと#{k[:count]}日で" %></span>
            <span class="main"><%= "#{k[:kinen_name]}" %></span> <i class="icon-music"></i>
            </p>
          <% end -%>
        <% end -%>
      </div>

      <div class="text-center mgn-t20">(生年月日を登録している人のみ)</div>

    </div><!--/.well -->



          <div class="well sidebar-nav">
            <legend class="text-center">みんなの新着情報</legend>
            <%= link_to '一気に見る', update_allview_mutters_path, class: "btn btn-danger btn-block" %>
            <table class="table table-striped table-condensed mgn-t20">
              <%= render :partial => "update_history" %>
              <tr>
                <td><%= link_to "すべて見る", {:action => :update_history_all}, class: "btn btn-success btn-block" %></td>
              </tr>
            </table>
          </div><!--/.well -->

          <div class="well sidebar-nav">
              <legend class="text-center">みんなのアクセス情報</legend>
              <p class="important text-center">現在 <%= User::recent_request_count %> 人がログインしています</p>
    <table class="table table-striped table-condensed">
    <% @login_users.each_with_index do |user, idx| -%>
<% if idx > 20 -%>
      <tr class="hide_row" style="display:none">
<% else -%>
      <tr>
<% end -%>
        <td><%= user.last_request_at.present? ? user.last_request_at.to_s(:short) : "ログインなし" %></td>
        <td><%= user.dispname(User::FULLNICK) %></td>
      </tr>
    <% end -%>
    </table>
    <div id="link_recent_login_users" class="btn btn-success btn-block" onclick="javascript:show_recent_login_users()">もっと見る(直近40人分)</div>

          </div><!--/.well -->

        </div><!--/span-->


        <!-- start main mutter -->
        <div class="span8">

   <div id="mutter" class="clearfix">
    <div id="form" class="clearfix well well2">
      <%= simple_form_for @mutter, :html => {:multipart => true} do |f| -%>
        <div class="span5">
        <%= f.text_area :content, rows: 3, class: "span5", placeholder: "つぶやき" %><br>
        <%= f.hidden_field :user_id %>
        <div class="bootstrap_file_field input-append">
          <%= f.file_field :image, style: "display: none" %>
          <input class="file_value input-large span4" type="text" placeholder="写真や動画がアップロードできます">
          <a class="btn">ファイル選択</a>
        </div>
        </div>
        <div class="span2">
          <br>
          <%= f.submit "投稿する", class: "btn btn-primary btn-large" %>
          <div class="leave_me"><%= f.check_box :leave_me, value: "1" %><%= f.label :leave_me, "ひとりごと" %></div>
        </div>
      <% end -%>
    </div>
    <%#= link_to '写真付きでつぶやく', :action => "new_from_mail" if request.smart_phone? %>

    <div id="create_notification" class="alert alert-success text-center important" style="display:none">つぶやきを投稿しました<%#= @create_notification %></div>

    <div id="form_search" class="row well text-center">
      <div class="input-append">
        <%= form_for @mutter, url: search_mutters_path, :remote => true, :method => :get do |f| %>
          <% # [memo] このinput textはspanX指定のみだとAndroidのChromeでフォームが横に飛び出してしまった。
             #   text_fieldではデフォルトでsizeが30になるらしく、Androidではそれが影響していた。
             #   なので、sizeを小さめにして最小のサイズとしつつ、spanXが最大のサイズとして設定されるようにした -%>
          <%= f.text_field :search_word, size: 15, class: "span3" %>
          <%= f.select :user_id, User.all.map{|u| [u.dispname, u.id]}, {include_blank: true}, {class: "span2"} %>
          <%= f.hidden_field :action_flg %>
        <% end %>

        <div class="btn-group">
          <button class="btn dropdown-toggle" data-toggle="dropdown">
           検索
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to "発言内容から検索", "#", {class: "js_search_mutter", rel: "1"} %></li>
            <li><%= link_to "画像か動画を含むもの", "#", {class: "js_search_mutter", rel: "2"} %></li>
            <li><%= link_to "URLを含むもの", "#", {class: "js_search_mutter", rel: "3"} %></li>
            <li class="divider"></li>
            <li><strike><%= link_to "詳細検索", action: :all %></strike>まだできてない</li>
          </ul>
        </div>
      </div>
    </div>


    <div id="mutter_data">
      <%# cache :mutter_data do -%>
        <%= render :partial => "list" %>
      <%# end -%>
    </div>

    <div class="mgn-t40 text-center">
      <%#= link_to "もっと見る", "javascript:void(0)", {id: "show_more", class: "left btn"} %>
      <div id="autopager_loading" class="btn btn-warning btn-block"><i class="icon-refresh"></i>　次のページを読込中です　<i class="icon-refresh"></i></div>
    </div>

  </div> <!-- #mutter -->

  </div>
</div><!--/row-->
