<script>
show_recent_login_users = function(){
  $link = $('#link_recent_login_users')
  if($link.text() != '隠す'){
    $('.hide_row').show();
    $link.text('隠す');  
  }else{
    $('.hide_row').hide();
    $link.text('もっと見る(直近40人分)');  
  }
}

$(document).ready(function(){
  slide_effect();

  //mutter表示行数制限
  data_toggle = (function(){
    $hidden_data = $('ul.mutter_rows>li:gt(<%= Mutter::MUTTER_DATA_VISIBLE %>)');
    $hidden_data.hide();
    $show_btn = $('#show_more');
    $show_btn.data('show', false);
  });
  data_toggle();

  $show_btn.click(function(){
    if($show_btn.data('show') == false) {
      $hidden_data.show();
      $show_btn.text('隠す');
      $show_btn.data('show', true);
    }else {
      $hidden_data.hide();
      $show_btn.text('もっと見る');
      $show_btn.data('show', false);
    }
//sakikazu $hidden_dataは集合データなので、↓でやると要素の一つ一つにfunctionが設定されてるぽくて負荷が高まった。注意。
//    $hidden_data.toggle(300, function(){
  //      if ($hidden_data.is(":visible")) {
    //        $('#show_more').text('隠す');
    //      }else {
    //        $('#show_more').text('もっと見る');
    //      }
//    });
  });


  // submit押下時、ファイルが添付されてなかったら、AjaxでPOSTする
  $m_form = $('form#new_mutter:first');
  $m_form.submit(function(event) {
    console.log(event);
    if($('#mutter_content', $m_form).val() == "") {
      event.preventDefault();
      alert('つぶやきを入力しないと投稿できません');
      return false; //preventDefault()してても、下記処理に入らないようにreturnしておく
    }
    if($(':file:first', $m_form).val() == "") {
      event.preventDefault();
      $.post(
        '/mutters',
        $('input, textarea', $m_form).serialize(),
        function(data) {
          $('#mutter_content', $m_form).val('');
          $('#mutter_data').html(data);
          $(document).ready(function(){
            $(".colorbox").colorbox();
            data_toggle();
          })
        }
      );
    }
  });

  // つぶやき表示更新
<% if Rails.env == "production" %>
  setInterval(function(){
    $.get("<%= update_disp_mutters_path %>", function(data){
      if(data != "") {
        $("#mutter_data").html(data);
        $(document).ready(function(){
          $(".colorbox").colorbox();
          data_toggle();
        })
      }
    });
  }, <%= @dispupdate_interval %>);
<% end %>

});
</script>


      <!-- スライドショー -->
      <!--
      <div class="clearfix" style="background-color:black;height:120px;margin-bottom: 40px;">
        <% 1.upto(2) { |i| -%>
          <div style="width:130px;height:110px;border: 1px solid white; margin:5px;float:left;background-color:gray">
            現在、touchのSafariで見たら、背景をつきぬけて下に並んでしまう。JSにしたとき直る？
          </div>
        <% } -%>
      </div>

      <div class="row" style="background-color:black;height:120px">
        <% 1.upto(2) { |i| -%>
          <div class="span2" style="border: 1px solid white; margin:5px; background-color: gray; height:110px">
            現在、touchのSafariで見たら、背景をつきぬけて下に並んでしまう。JSにしたとき直る？
          </div>
        <% } -%>
      </div>

      <div class="row">
        <div class="span4">
          なぜかここにダミーでrowを入れないと下のレイアウトが崩れる
          aaaa
        </div>
        <div class="span8">
          k
          bbaeaw
        </div>
      </div>
      -->

<div class="row">
  <div class="span4">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header text-center">― 日齢 ― 生まれて何日？</li>
      </ul>
      <div id="nichirei">
        <% if @nichirei -%>
          <div class="main"><%= @nichirei %>日</div>
          <% @nichirei_future.each do |n| -%>
            <%= "#{n[0]}日: #{n[1].strftime("%Y/%m/%d")}" %><br />
          <% end -%>
        <% else -%>
          ※生年月日を登録している人のみ
        <% end -%>
      </div>
    </div><!--/.well -->

    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header text-center">みんなの誕生記念日</li>
      </ul>
   <table>
    <% @kinen.each do |k| -%>
      <% if k[:count] == 0 -%>
        <tr>
          <td><%= "#{k[:user].dispname(User::FULLNAME)}さん" %></td>
          <td>
            <span class="honzitu">本日</span>
          </td>
          <td><span class="main"><%= "#{k[:kinen_name]}" %></span></td>
        </tr>
        <tr class="anniversary"><td colspan=3>
          <%= link_to '祝う', {:action => :celebration_new, :user_id => k[:user].id}, :class => colorbox_class + " normal-btn" %>
          <%= link_to 'お祝いを見る', {:action => :celebration, :user_id => k[:user].id}, :remote => true, :class => "normal-btn" %>
        </td></tr>

      <% else -%>
        <tr class="exist-border">
          <td><%= "#{k[:user].dispname(User::FULLNAME)}さん" if k[:user].present? %></td>
          <td>
            <b><%= "あと#{k[:count]}日で" %></b>
          </td>
          <td><span class="main"><%= "#{k[:kinen_name]}" %></span></td>
        </tr>
      <% end -%>
    <% end -%> 
    </table>
    <div style="margin-top:20px;text-align:center">(生年月日を登録している人のみ)</div>

          </div><!--/.well -->



          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header text-center">みんなの新着情報</li>
    <div class="summary"><%= link_to '＜一気に見る＞', update_allview_mutters_path %></div>
    <div class="list">
      <%= render :partial => "update_history" %>
    </div>
    <b><%= link_to "すべて見る", :action => :update_history_all %></b>

            </ul>
          </div><!--/.well -->

          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header text-center">みんなのアクセス情報</li>
            </ul>
    <table class="table table-striped table-condensed">
    <% @login_users.each_with_index do |user, idx| -%>
<% if idx > 20 -%>
      <tr class="hide_row" style="display:none">
<% else -%>
      <tr>
<% end -%>
        <td><%= user.last_sign_in_at.present? ? user.last_sign_in_at.to_s(:short) : "ログインなし" %></td>
        <td><%= user.dispname(User::FULLNICK) %></td>
      </tr>
    <% end -%>
    </table>
    <div id="link_recent_login_users" onclick="javascript:show_recent_login_users()">もっと見る(直近40人分)</div>

          </div><!--/.well -->

        </div><!--/span-->
        <div class="span8">

   <div id="mutter" class="clearfix row">
    <div id="form" class="clearfix">
      <%= simple_form_for @mutter, :html => {:multipart => true} do |f| -%>
        <div class="span5">
        <%= f.text_area :content, rows: 3, class: "span5", placeholder: "つぶやき" %><br>
        <%= f.file_field :image %>
        <%= f.hidden_field :user_id %>
        </div>
        <div class="span1">
          <br>
          <%= f.submit "投稿する", class: "btn btn-primary btn-large" %>
        </div>
      <% end -%>
    </div>
    <%#= link_to '写真付きでつぶやく', :action => "new_from_mail" if request.smart_phone? %>

    <div id="form_search" class="well" style="padding-left:8px; padding-right:8px;">
      <%= form_for @mutter, url: search_mutters_path(action_flg: 1), :remote => true, :method => :get do |f| %>
        <%= f.text_field :search_word, class: "span2" %>
        <%= f.submit "発言内容から検索する", class: "btn btn-info" %>
      <% end %>
      <%= form_for @mutter, url: search_mutters_path(action_flg: 2), :remote => true, :method => :get do |f| %>
        <%= f.submit "画像が含まれる", class: "btn btn-info" %>
      <% end %>
      <%= form_for @mutter, url: search_mutters_path(action_flg: 3), :remote => true, :method => :get do |f| %>
        <%= f.submit "URLが含まれる", class: "btn btn-info" %>
      <% end %>
    </div>

    <div id="mutter_data">
      <%# cache :mutter_data do -%>
        <%= render :partial => "list" %>
        <%# end -%>
    </div>

    <%= link_to "もっと見る", "javascript:void(0)", {id: "show_more", class: "left btn"} %>
    <%= link_to "むしろすべて見る", {:action => :all}, class: "right btn" %>
  </div> <!-- #mutter -->


<ul>
  <li><%= link_to "sqlbuddy", "http://182.163.58.103/sqlbuddy/#page=home" %></li>
  <li><%= link_to "phpMyAdmin", "http://182.163.58.103/phpmyadmin/index.php?db=adan&target=db_structure.php&token=957d66fdcf377401bfc14c9f9ef8f0ec" %></li>
  <li><%= link_to "old_a-dan", "http://182.163.58.103/a-dan" %></li>
</ul>

        </div>
      </div><!--/row-->


