<script>
$(document).ready(function(){
  slide_effect();

  //mutter表示行数制限
  data_toggle = (function(){
    $hidden_data = $('ul.mutter_rows>li:gt(<%= Mutter::MUTTER_DATA_VISIBLE %>)');
    $hidden_data.hide();
    $show_btn = $('#show_more');
    $show_btn.data('show', false);
  });
  data_toggle();

  $show_btn.click(function(){
    if($show_btn.data('show') == false) {
      $hidden_data.show();
      $show_btn.text('隠す');
      $show_btn.data('show', true);
    }else {
      $hidden_data.hide();
      $show_btn.text('もっと見る');
      $show_btn.data('show', false);
    }
//sakikazu $hidden_dataは集合データなので、↓でやると要素の一つ一つにfunctionが設定されてるぽくて負荷が高まった。注意。
//    $hidden_data.toggle(300, function(){
  //      if ($hidden_data.is(":visible")) {
    //        $('#show_more').text('隠す');
    //      }else {
    //        $('#show_more').text('もっと見る');
    //      }
//    });
  });


  // submit押下時、ファイルが添付されてなかったら、AjaxでPOSTする
  $m_form = $('form#new_mutter')
  $m_form.submit(function(event) {
    if($('#mutter_content', $m_form).val() == "") {
      event.preventDefault();
      alert('つぶやきを入力しないと投稿できません');
      return false; //preventDefault()してても、下記処理に入らないようにreturnしておく
    }
    if($(':file:first', $m_form).val() == "") {
      event.preventDefault();
      $.post(
        '/mutters',
        $('input, textarea', $m_form).serialize(),
        function(data) {
          $('#mutter_content', $m_form).val('');
          $('#mutter_data').html(data);
          $(document).ready(function(){
            $(".colorbox").colorbox();
            data_toggle();
          })
        }
      );
    }
  });

  // つぶやき表示更新
<% if Rails.env == "production" %>
  setInterval(function(){
    $.get("<%= update_disp_mutters_path %>", function(data){
      if(data != "") {
        $("#mutter_data").html(data);
        $(document).ready(function(){
          $(".colorbox").colorbox();
          data_toggle();
        })
      }
    });
  }, <%= @dispupdate_interval %>);
<% end %>

});
</script>

<div id="mutter">
  <%# remote_form_for @mutter, :html => {:multipart => true}, :update => "mutter_data", :condition => "$('#mutter_content').val() != ''", :complete => "$('#mutter_content').val('');" do |f| -%>
  <div id="form">
    <%= form_for @mutter, :html => form_html_option do |f| -%>
    <table><tr>
    <td width="120px">
    <b style="font-family:'HGP創英角ﾎﾟｯﾌﾟ体';font-size:160%" id="mutter_logo">今なんしょって？</b><br />
    <%= f.text_area :content %>
    <%= f.file_field :image %>
    </td>
    <td>
    <%= f.hidden_field :user_id %>
    <%= f.submit "投稿する", :class => "post" %>
    </td>
    </tr></table>
  <% end -%>
  </div>
  <%= link_to '写真付きでつぶやく', :action => "new_from_mail" if request.smart_phone? %>

  <div id="form_search">
    <%= form_tag search_mutters_path(:action_flg => 1), {:remote => true, :method => :get} do %>
      <%= text_field_tag :search_text %>
      <%= submit_tag "発言内容から検索する" %>
    <% end %>
    <%= form_tag search_mutters_path(:action_flg => 2), {:remote => true, :method => :get} do %>
      <%= submit_tag "画像が含まれる" %>
    <% end %>
    <%= form_tag search_mutters_path(:action_flg => 3), {:remote => true, :method => :get} do %>
      <%= submit_tag "URLが含まれる" %>
    <% end %>
  </div>


  <div id="mutter_data">
  <%# cache :mutter_data do -%>
    <%= render :partial => "list" %>
  <%# end -%>
  </div>

  <div id="show_more" style="">もっと見る</div>
  <div style="text-align:right;margin-top:5px"><%= link_to "むしろすべて見る", :action => :all %></div>
</div>

<div class="right_side_bar">
  <p class="title">― 日齢 ― 生まれて何日？</p>
  <div id="nichirei">
  <% if @nichirei -%>
    <div class="main"><%= @nichirei %>日</div>
    <% @nichirei_future.each do |n| -%>
      <%= "#{n[0]}日: #{n[1].strftime("%Y/%m/%d")}" %><br />
    <% end -%>
  <% else -%>
    ※生年月日を登録している人のみ
  <% end -%>
  </div>
  <p class="title">みんなの誕生記念日</p>
  <div id="kinenbi">
    <table>
    <% @kinen.each do |k| -%>
      <% if k[:count] == 0 -%>
        <tr>
          <td><%= "#{k[:user].dispname(User::FULLNAME)}さん" %></td>
          <td>
            <span class="honzitu">本日</span>
          </td>
          <td><span class="main"><%= "#{k[:kinen_name]}" %></span></td>
        </tr>
        <tr class="anniversary"><td colspan=3>
          <%= link_to '祝う', {:action => :celebration_new, :user_id => k[:user].id}, :class => colorbox_class + " normal-btn" %>
          <%= link_to 'お祝いを見る', {:action => :celebration, :user_id => k[:user].id}, :remote => true, :class => "normal-btn" %>
        </td></tr>

      <% else -%>
        <tr class="exist-border">
          <td><%= "#{k[:user].dispname(User::FULLNAME)}さん" %></td>
          <td>
            <b><%= "あと#{k[:count]}日で" %></b>
          </td>
          <td><span class="main"><%= "#{k[:kinen_name]}" %></span></td>
        </tr>
      <% end -%>
    <% end -%> 
    </table>
    <div style="margin-top:20px;text-align:center">(生年月日を登録している人のみ)</div>
  </div>
    
  <div id="update_history">
    <p class="title">みんなの新着情報</p>
    <div style="margin:3px 0px;background-color:yellow;text-align:center"><%= link_to '一気に見る！', update_allview_mutters_path, :style => "font-weight:bold;font-size:18px;color:red" %></div>
    <div class="list">
      <%= render :partial => "update_history" %>
    </div>
    <b><%= link_to "すべて見る", :action => :update_history_all %></b>
  </div>

  <div id="current_login_user">
    <p class="title">みんなのアクセス情報(直近20人分)</p>
    <table>
    <% @login_users.each do |user| -%>
      <tr>
        <td><%= user.last_request_at.to_s(:short) if user.last_request_at %></td>
        <td><%= user.dispname(User::FULLNICK) %></td>
      </tr>
    <% end -%>
    </table>
  </div>
</div>
<div style="clear: both"></div>
<ul>
<li><%= link_to "sqlbuddy", "http://182.163.58.103/sqlbuddy/#page=home" %></li>
<li><%= link_to "phpMyAdmin", "http://182.163.58.103/phpmyadmin/index.php?db=adan&target=db_structure.php&token=957d66fdcf377401bfc14c9f9ef8f0ec" %></li>
<li><%= link_to "old_a-dan", "http://182.163.58.103/a-dan" %></li>
</ul>
