<div class="col-sm-3">
  <%= render 'top_left_sidebar' %>
</div>

<!-- start main mutter -->
<div class="col-sm-6">
   <div id="mutter" class="clearfix">
    <div id="form" class=" well well2">
      <%= simple_form_for @mutter, html: {multipart: true}, remote: true do |f| -%>
      <div class="row justify-content-center">
        <div class="col-sm-8">
        <%= f.text_area :content, rows: 3, class: "form-control", placeholder: "つぶやき" %><br>
        <%= f.hidden_field :user_id %>
      <% if request.smart_phone? %>
        <%= f.file_field :image %>
      <% else %>
        <div class="custom-file">
          <%= f.file_field :image, class: 'custom-file-input', id: 'customFile' %>
          <label class="custom-file-label" for="customFile">写真や動画がアップロードできます</label>
        </div>
      <% end %>
        </div>
        <div class="col-sm-3">
          <br>
          <%= f.submit "投稿する", class: "btn btn-primary btn-large", :data => {:disable_with => "投稿中..."} %>
          <div class="leave_me"><%= f.check_box :leave_me, value: "1" %><%= f.label :leave_me, "ひとりごと" %></div>
        </div>
      </div>
      <% end -%>
    </div>
    <%#= link_to '写真付きでつぶやく', :action => "new_from_mail" if request.smart_phone? %>

    <div id="create_notification" class="alert alert-success text-center important" style="display:none">つぶやきを投稿しました<%#= @create_notification %></div>

    <%= form_for @mutter, url: search_mutters_path, :remote => true, :method => :get, html: {id: 'search_form'} do |f| %>
          <div class="row no-gutters well justify-content-center">
          <% # [memo] このinput textはspanX指定のみだとAndroidのChromeでフォームが横に飛び出してしまった。
             #   text_fieldではデフォルトでsizeが30になるらしく、Androidではそれが影響していた。
             #   なので、sizeを小さめにして最小のサイズとしつつ、spanXが最大のサイズとして設定されるようにした -%>
          <%= f.text_field :search_word, size: 15, class: "col-sm-6" %>
          <%= f.select :user_id, User.all.map{|u| [u.dispname, u.id]}, {include_blank: true}, {class: "col-sm-3"} %>
          <%= f.hidden_field :action_flg %>

        <div class="btn-group">
          <button class="btn dropdown-toggle" data-toggle="dropdown">
           検索<span class="caret"></span>
          </button>
          <div class="dropdown-menu">
            <%= link_to "発言内容から検索", "#", {class: "js_search_mutter dropdown-item", rel: "1"} %>
            <%= link_to "画像か動画を含むもの", "#", {class: "js_search_mutter dropdown-item", rel: "2"} %>
            <%= link_to "URLを含むもの", "#", {class: "js_search_mutter dropdown-item", rel: "3"} %>
             <div class="dropdown-divider"></div>
            <strike><%= link_to "詳細検索", action: :all, class: 'dropdown-item' %></strike>まだできてない
          </div>
        </div>

          </div>
        <% end %>

    <div id="mutter_data">
      <%# cache :mutter_data do -%>
        <%= render :partial => "list" %>
      <%# end -%>
    </div>

    <div class="mgn-t40 text-center">
      <%#= link_to "もっと見る", "javascript:void(0)", {id: "show_more", class: "left btn"} %>
      <div id="autopager_loading" class="btn btn-warning btn-block">
        <%= fa_icon 'refresh', class: 'fa-spin' %>　次のページを読込中です　<%= fa_icon 'refresh', class: 'fa-spin' %>
      </div>
    </div>

  </div> <!-- #mutter -->
</div>
