<% @movie_data.each_with_index do |data, idx| -%>
  <% content = data.content -%>
  <% next if content.blank? -%>
  <div class="nice_rank">
    <%= image_tag("rank-icon-middle/icon-rank-tk02_m#{sprintf("%02d", idx+1)}.png") %>
    <%= data[:nice_count] %> イイネ
  </div>
  <div class="mb10">
    <%= nicing_user_names(content) %>
  </div>
  <% if content.present? -%>
    動画：<%= link_to content.title, movie_path(content) %><br>
    <% if content.thumb.attached? %>
      <%= image_tag(content.thumb_variant(:thumb)) + '<br>' %>
    <% end %>
    <%= nice_author_and_created_at(content) %>
  <% else -%>
    削除されました.
  <% end -%>
  <hr>
<% end -%>
<%= paginate @movie_data, remote: true, params: {action: 'ranking', content_type: 4} %>
