<% @mutter_data.each_with_index do |data, idx| -%>
  <% content = data.content -%>
  <div class="nice_rank">
    <%= image_tag("rank-icon-middle/icon-rank-tk02_m#{sprintf("%02d", idx+1)}.png") %>
    <%= data[:nice_count] %> イイネ
  </div>
  <div class="mb10">
    <%= nicing_user_names(data.content) %>
  </div>
  <% if content.present? -%>
    <ul class="mutter_rows">
      <%= render :partial => 'mutters/mutter_with_comments', :locals => {:mutter_with_comments => content} %>
    </ul>
  <% else -%>
    削除されました.
  <% end -%>
<% end -%>
<%= paginate @mutter_data, remote: true, params: {action: 'ranking', content_type: 1} %>
