<script>
$(document).ready(function() {
  $("#mokuji").mokuji();
})
</script>

<div id="nice_show" class="col-sm-8">

<%= render :partial => 'nices_menu' %>

<div id="mokuji"></div>

<h2 class="normal">人気のつぶやき</h2>
<div id="mutter_area" class="h2normal_content">
  <%= render :partial => 'rank_mutter' %>
</div>


<h2 class="normal">人気の写真</h2>
<div id="photo_area" class="h2normal_content">
<%= render :partial => 'rank_photo' %>
</div>

<h2 class="normal">人気の日記</h2>
<div id="blog_area" class="h2normal_content">
<%= render :partial => 'rank_blog' %>
</div>

<h2 class="normal">人気の動画</h2>
<div id="movie_area" class="h2normal_content">
<%= render :partial => 'rank_movie' %>
</div>


</div> <!-- #nice_show -->
