<div id="nice_show" class="col-sm-7">

<%= render :partial => 'nices_menu' %>

<div class="jumbotron">
<div id="mokuji" data-mokuji-summary="true"></div>

<h2 class="normal">最近評価されたつぶやき</h2>
<%#= paginate @nices["mutter"], :window => 2, :outer_window => 2 if @nices["mutter"].present? %>
<div class="h2normal_content">
<% @nices["mutter"].each do |data| -%>
  <div class="nice_content_wrap" id="<%= data.id %>" time="<%= l data.created_at %>">
  <div class="nice_user">イイネした人：<%= "#{data.user.dispname} (#{l data.created_at})" %></div>
  <% obj = data.asset -%>
  <% if obj.blank? -%>
    削除されました.
  <% else -%>
    <ul class="mutter_rows">
      <%= render :partial => 'mutters/mutter_row', :locals => {:mutter_row => obj} %>
    </ul>
  <% end -%>
  <hr>
  </div>
<% end -%>
</div>

<h2 class="normal">最近評価された写真</h2>
<%#= paginate @nices["photo"], :window => 2, :outer_window => 2 if @nices["photo"].present? %>
<div class="h2normal_content">
<% @nices["photo"].each do |data| -%>
  <div class="nice_content_wrap" id="<%= data.id %>" time="<%= l data.created_at %>">
  <div class="nice_user">イイネした人：<%= "#{data.user.dispname} (#{l data.created_at})" %></div>
  <% obj = data.asset -%>
  <% if obj.blank? -%>
    削除されました.
  <% else -%>
    <% p obj -%>
    <%= link_to(image_tag(obj.image(:thumb)), slideshow_album_photo_path(obj.album, obj), {:class => colorbox_fix_size}) if obj.image?  %><br>
    写真タイトル：<%= obj.title %> / アルバム：<%= link_to obj.album.title, obj.album %>
  <% end -%>
  <hr>
  </div>
  <% end -%>
</div>

<h2 class="normal">最近評価された日記</h2>
<%#= paginate @nices["blog"], :window => 2, :outer_window => 2 if @nices["blog"].present? %>
<div class="h2normal_content">
<% @nices["blog"].each do |data| -%>
  <div class="nice_content_wrap" id="<%= data.id %>" time="<%= l data.created_at %>">
  <div class="nice_user">イイネした人：<%= "#{data.user.dispname} (#{l data.created_at})" %></div>
  <% obj = data.asset -%>
  <% if obj.blank? -%>
    削除されました.
  <% else -%>
    <%# if obj.blog_images.size > 0 -%>
      <%# b_image = obj.blog_images.first -%>
      <%#= image_tag(b_image.image(:thumb)) if b_image.image? %><br>
    <%# end -%>
    日記：<%= link_to obj.title, blog_path(obj) %><br>
    <%= nice_author_and_created_at(obj) %>
  <% end -%>
  <hr>
  </div>
<% end -%>
</div>


<h2 class="normal">最近評価された動画</h2>
<%#= paginate @nices["movie"], :window => 2, :outer_window => 2 if @nices["movie"].present? %>
<div class="h2normal_content">
<% @nices["movie"].each do |data| -%>
  <div class="nice_content_wrap" id="<%= data.id %>" time="<%= l data.created_at %>">
  <div class="nice_user">イイネした人：<%= "#{data.user.dispname} (#{l data.created_at})" %></div>
  <% obj = data.asset -%>
  <% if obj.blank? -%>
    削除されました.
  <% else -%>
    動画：<%= link_to obj.title, movie_path(obj) %><br>
    <%= image_tag(obj.thumb(:thumb)) + '<br>' if obj.thumb?  %>
    <%= nice_author_and_created_at(obj) %>
  <% end -%>
  <hr>
  </div>
<% end -%>
</div>

</div>

</div> <!-- #nice_show -->
