<script>
$(document).ready(function() {
  //目次を作成する
  $("#mokuji").append('<ul><h3 class="normal">目次</h3></ul>');
  var items = [];
  $('h2.normal').each(function(idx){
    $(this).attr("id", "mokuji"+idx);
    items.push('<a href="#mokuji' + idx + '">' + $(this).text() + '</a>');
  });
  $("#mokuji ul").append('<li>' + items.join("</li><li>") + '</li>');

  //すべてのカテゴリから評価された日付降順に抽出する
  var data = [];
  $(".nice_content_wrap").each(function(){
    data.push({"id" : $(this).attr("id"), "time" : new Date($(this).attr("time"))});
  });
  data = data.sort(function(x, y){return x.time < y.time ? 1 : -1});
  for(var i = 9; i >= 0; i--){
    $obj = $("#" + data[i].id).clone();
    $obj.attr("id","");
    $('h2.normal[summary=true]').after($obj);
  }
})
</script>

<div id="nice_show">
<div class="select_menu clearfix">
  <%= link_to "<span class='selected'>最近</span>".html_safe, recent_nices_path %>
  <%= link_to "<span>ランキング</span>".html_safe, ranking_nices_path %>
</div>

<div id="mokuji"></div>

<h2 class="normal" summary="true">最近評価されたまとめ(直近10個)</h2>

<h2 class="normal">最近評価されたつぶやき</h2>
<%= will_paginate @nices["mutter"] %>
<div class="h2normal_content">
<% @nices["mutter"].each do |data| -%>
  <div class="nice_content_wrap" id="<%= data.id %>" time="<%= l data.created_at %>">
  <div class="nice_user">イイネした人：<%= "#{data.user.dispname} (#{l data.created_at})" %></div>
  <% obj = data.nice -%>
  <% if obj.blank? -%>
    削除されました.
  <% else -%>
    <div class="nice_content">
      <div class="mutter_rows">
        <b style="font-size:14px"><%= link_to '(詳細)', mutter_path(:id => obj.id) %></b><br>
        <span class="image"><%= link_to(image_tag(obj.image(:thumb)), obj.image(:large), {:class => colorbox_class}) if obj.image?  %></span>
        <span class="content"><%= br auto_link(obj.content) %></span>
        <div class="clear"></div>
        <%= nice_author_and_created_at(obj) %>
      </div>
    </div>
  <% end -%>
  <hr>
  </div>
<% end -%>
</div>

<h2 class="normal">最近評価された写真</h2>
<%= will_paginate @nices["albumphoto"] %>
<div class="h2normal_content">
<% @nices["albumphoto"].each do |data| -%>
  <div class="nice_content_wrap" id="<%= data.id %>" time="<%= l data.created_at %>">
  <div class="nice_user">イイネした人：<%= "#{data.user.dispname} (#{l data.created_at})" %></div>
  <% obj = data.nice -%>
  <% if obj.blank? -%>
    削除されました.
  <% else -%>
    <%= link_to(image_tag(obj.attach(:thumb)), slideshow_album_photo_path(obj), {:class => colorbox_fix_size}) if obj.attach?  %><br>
    写真タイトル：<%= obj.title %> / アルバム：<%= link_to obj.album.title, obj.album %>
  <% end -%>
  <hr>
  </div>
<% end -%>
</div>

<h2 class="normal">最近評価された日記</h2>
<%= will_paginate @nices["blog"] %>
<div class="h2normal_content">
<% @nices["blog"].each do |data| -%>
  <div class="nice_content_wrap" id="<%= data.id %>" time="<%= l data.created_at %>">
  <div class="nice_user">イイネした人：<%= "#{data.user.dispname} (#{l data.created_at})" %></div>
  <% obj = data.nice -%>
  <% if obj.blank? -%>
    削除されました.
  <% else -%>
    <% if obj.blog_images.size > 0 -%>
      <% b_image = obj.blog_images.first -%>
      <%= image_tag(b_image.image(:thumb)) if b_image.image? %><br>
    <% end -%>
    日記：<%= link_to obj.title, blog_path(obj) %><br>
    <%= nice_author_and_created_at(obj) %>
  <% end -%>
  <hr>
  </div>
<% end -%>
</div>


<h2 class="normal">最近評価された動画</h2>
<%= will_paginate @nices["movie"] %>
<div class="h2normal_content">
<% @nices["movie"].each do |data| -%>
  <div class="nice_content_wrap" id="<%= data.id %>" time="<%= l data.created_at %>">
  <div class="nice_user">イイネした人：<%= "#{data.user.dispname} (#{l data.created_at})" %></div>
  <% obj = data.nice -%>
  <% if obj.blank? -%>
    削除されました.
  <% else -%>
    動画：<%= link_to obj.title, movie_path(obj) %><br>
    <%= image_tag(obj.thumb(:thumb)) + '<br>' if obj.thumb?  %>
    <%= nice_author_and_created_at(obj) %>
  <% end -%>
  <hr>
  </div>
<% end -%>
</div>


</div> <!-- #nice_show -->
