    <h1><%= link_to "AdanHP", root_path %></h1>
    現在 <%= User.logged_in.count %> 人がログインしています<br /> <!-- This based on last_request_at, if they were active < 10 minutes they are logged in -->
    
    <% if !current_user %>
      <%= link_to "Log In", new_user_session_path %> |
    <% else %>
      <%= link_to "Logout", user_session_path, :method => :delete %>
      <% if current_user.admin? %>
        <%= link_to "Register", new_account_path %>
      <% end %>
    <% end %>
    <br /><%= link_to "RSS", rss2_url %>
