<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>A団HP | <%= "#{@page_title || controller.controller_name} > #{controller.action_name}" %></title>
  <link href="/images/favicon.ico" type="image/x-icon" rel="icon" />

  <%= stylesheet_link_tag 'scaffold', 'main' %>
  <%= stylesheet_link_tag 'colorbox/colorbox', 'win7navi', 'sliderkit/sliderkit-core', 'tipTip' %>

  <%= javascript_include_tag 'jquery.min' %>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'jquery.colorbox-min', 'jquery-fonteffect-1.0.0.min',
      'jquery.sliderkit.1.5.1.pack', 'jquery.mousewheel.min', 'jquery.tipTip.minified','win7navi' %>

  <script>
    jQuery(document).ready(function(){
      jQuery(".colorbox").colorbox();

      jQuery("#content_logo").FontEffect({
        gradient:true,
        gradientColor:"#D8D8D8",
        mirror:true,
        mirrorColor:"#298d79"
      });
      jQuery("#mutter_logo").FontEffect({
        //outline:true,
        shadow:true,
        gradient:true,
        gradientColor:"gray",
        gradientPosition:25,
        gradientLength:20
      });

      jQuery("#new_board_info").tipTip({
        content: "<div style='font-size:17px'>長期に渡って報告したいことがあったり<br>みんなに意見を聞きたいときは、掲示板で作成するのがいいです。<br><br>また、コメントに画像をつけられるのは掲示板だけなので<br>そこも考慮するといいでしょう。</div>",
        defaultPosition: "right",
        maxWidth: "auto",
        delay: 0,
      });

      slide_effect = (function(){
        jQuery(".colorbox_top").colorbox({
          width:"900px",
          height:"750px",
        });

        jQuery(".carousel-demo2").sliderkit({
          shownavitems:6,
          scroll:1,
          mousewheel:true,
          circular:true,
          start:0
        });
      });
      slide_effect();
    });
  </script>

  <%#= calendar_date_select_includes %>
  <script type="text/javascript">
    //calendar_date_select日本語化
    _translations = {
      "OK": "OK",
      "Now": "現在",
      "Today": "今日",
      "Clear": "戻る"
    }
    //Date.weekdays = $w("日 月 火 水 木 金 土");
    //Date.months = $w("1 2 3 4 5 6 7 8 9 10 11 12" );
  </script>

  <%= csrf_meta_tag %>
</head>
<body>

<div id="background_black" style="display:none"></div>

<div id="container">
<% if controller.controller_name == "mutters" and controller.action_name == "index" -%>

  <div style="float:left;margin: 5px 0px 10px 30px">
    <%= render :partial => "layouts/top" %>
  </div>

  <div id="slider_update_btn">
    <%= form_tag({:action => :slider_update}, :remote => true) do %>
      <%= submit_tag "写真を変更する" %> 
    <% end -%>
    <div id="slider_update_info" style="display:none">↓ 変更しました ↓</div>
  </div>

  <div style="float:right;margin: 10px 30px 0px 0px;color:gray;font-weight:bold;line-height:23px">
    あなたがアクション(日記、コメントなど)すれば<br />
    他の人が楽しめてアクションしたくなります。<br />
    そのアクションによって、またあなたも楽しめるでしょう。<br />
    そういうサイクルができたら最高です。
  </div>
  <div style="clear:both"></div>
  <div id="slider_photo">
    <%= render "mutters/slider" %>
  </div>
<% else -%>
  <div style="float:left;margin-left: 15px">
    <%= render :partial => "layouts/top" %>
  </div>
  <div style="font-family:HGP創英角ﾎﾟｯﾌﾟ体; font-size: 250%;color:#333333;float:left;margin: 50px 0px 20px 300px">
    <div id="content_logo"><%= @page_title %></div>
  </div>
<% end -%>
<div class="clear-both"></div>


<ul class="win7">
  <li class="win7red"><%= link_to "トップ", root_path %></li>
  <li class="win7yellow"><%= link_to "アルバム", albums_path %></li>
  <li class="win7green"><%= link_to "日記", blogs_path %></li>
  <li class="win7green"><%= link_to "動画", movies_path %></li>
  <li class="win7blue"><%= link_to "掲示板", boards_path %></li>
  <li class="win7yellow"><%= link_to "年表", histories_path %></li>
  <li><%= link_to "親戚データ", users_path %></li>
  <li><%= link_to "その他", others_path %></li>
  <li><span style="color:GreenYellow;font-weight:bold"><%= "〈 ユーザー：#{current_user.login} 〉" if current_user %></span></li>
</ul>
<div class="clear-both"></div>
<br />

<%= "<p class='notice'>#{flash[:notice]}</p>".html_safe if flash[:notice].present? %>

<div id="wrapper">
<%= yield  %>
</div>
<div class="clear-both"></div>
<div id="footer">
- AdanHP -
</div>
</div>
</body>
</html>
