<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--
    <title><%#= content_for?(:title) ? yield(:title) : "AdanHP" %></title>
    -->
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>

    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<script>

$(document).on('turbolinks:load', function() {
//更新情報一括閲覧
<% if @ups_action_info -%>
  $('<div><%= @ups_action_info %></div>')
    .appendTo($('body'))
    .css({
      "position" : "fixed",
      "top" : "140px",
      "right" : "10px",
      "height" : "40px",
      "line-height" : "35px",
      "text-align" : "center",
      "z-index" : 100,
      "background-color" : "yellow",
      "font-size" : "25px",
      "opacity" : "0.8",
    })

<% end -%>

<% if @ups_page -%>
  $('<div><%= link_to '次へ', update_allview_mutters_path(:ups_page => @ups_page) %></div>')
    .appendTo($('body'))
    .css({
      "position" : "fixed",
      "top" : "200px",
      "right" : "10px",
      "width" : "130px",
      "height" : "50px",
      "line-height" : "45px",
      "text-align" : "center",
      "z-index" : 100,
      "background-color" : "yellow",
      "font-size" : "30px",
      "opacity" : "0.8",
    })
<% end -%>

});
</script>

 </head>
 <body id="<%= controller.controller_name %>_controller">
   <!-- 黒背景にして前面にアクションを起こすためのもの。お祝い表示などで使用 -->
   <div id="background_black" style="display:none"></div>

   <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb20">
     <a class="navbar-brand" href="/">AdanHP</a>
     <% if current_user.present? %>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
       <span clas="navbar-toggler-icon"></span>
     </button>
     <div id="navbarSupportedContent" class="collapse navbar-collapse">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item <%= controller.controller_name == "nices" ? "active" : "" %>"><%= link_to "人気", nices_path, class: 'nav-link' %></li>
         <li class="nav-item <%= controller.controller_name =~ /albums|movies/ ? "active" : "" %>"><%= link_to "アルバム", top_albums_path, class: 'nav-link' %></li>
         <li class="nav-item <%= controller.controller_name == "blogs" ? "active" : "" %>"><%= link_to "日記", blogs_path, class: 'nav-link' %></li>
         <li class="nav-item <%= controller.controller_name == "boards" ? "active" : "" %>"><%= link_to "掲示板", boards_path, class: 'nav-link' %></li>
         <li class="nav-item <%= controller.controller_name == "histories" ? "active" : "" %>"><%= link_to "年表", histories_path, class: 'nav-link' %></li>
         <li class="nav-item <%= controller.controller_name == "members" ? "active" : "" %>"><%= link_to "親戚データ", members_path, class: 'nav-link' %></li>
       </ul>
       <ul class="navbar-nav justify-content-end">
         <li class="nav-item"><%= link_to current_user.dispname(User::FULLNAME), edit_ex_members_path, class: 'nav-link' if current_user.present? %></li>
         <!-- todo ドロップダウンメニューに入れたら、httpメソッドがGETになってしまう？？ -->
         <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"}, class: 'nav-link' %></li>

         <li class="nav-item dropdown">
           <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">その他メニュー<b class="caret"></b></a>
           <div class="dropdown-menu">
             <a data-toggle="modal" href="#modalQR", class='dropdown-item'>QRコード</a>
             <%= link_to "その他", others_path, class: 'dropdown-item' %>
             <strike>RSS</strike>
             <div class="dropdown-divider"></div>
             <%= link_to 'このサイトについて', about_others_path, class: 'dropdown-item' %>
           </div>
         </li>
         <!-- todo こいつもAjaxだからかドロップダウンメニューに入れたらだめだな -->
         <li class="nav-item"><%= link_to '写真を入れ替える', slider_update_mutters_path, remote: true, class: 'nav-link' if @slideshow_visible %></li>
       </ul>
     </div>
     <% end %>
   </nav>

   <% if @slideshow_visible %>
     <div id="slider_update_info" class="alert alert-success text-center important" style="display:none">↓ 変更しました ↓</div>
     <div id="slider_photo">
       <%= render "mutters/slider" %>
     </div>
   <% end %>

  <div class="container-fluid">
    <%= bootstrap_flash %>
    <div class="row justify-content-center">
      <%= yield %>
    </div>
  </div> <!-- /container -->

    <%= render 'shared/qr_modal' %>

    <%= render 'movies/flash_install_message' %>

    <footer>
      <div id="desktopnotification"></div>
      <p>- AdanHP ( 2006-<%= Date.today.year %> ) -</p>
    </footer>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%#= javascript_include_tag "application" %>
    <%#= yield :addjs # jQueryだけ分割して上にすればこの高速化方法も使えるかなぁ %>

  </body>
</html>
