<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>A団HP | <%= "#{@page_title || controller.controller_name} > #{controller.action_name}" %></title>
  <link href="/images/favicon.ico" type="image/x-icon" rel="icon" />

  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'main' %>
  <%= javascript_include_tag 'jquery.min' %>
  <%= javascript_include_tag 'rails' %>
  <%#= javascript_include_tag :defaults, :cache => true %>
  <%#= javascript_include_tag "jquery-1.4.2.min" %>

  <% javascript_tag do %>
    jQuery.noConflict(); // jQueryのコンフリクトを避ける機能をオンにする。
    var j$ = jQuery; // jQueryをj$()に書き換える。
  <% end %>
  <%= stylesheet_link_tag 'colorbox/colorbox' %>
  <%= javascript_include_tag "jquery.colorbox-min" %>
  <script>
    j$(document).ready(function(){
      j$(".colorbox").colorbox();
      j$("form.jqtransform").jqTransform();
      j$("#content_logo").FontEffect({
        gradient:true,
        gradientColor:"#D8D8D8",
        mirror:true,
        mirrorColor:"#298d79"
      });
      j$("#mutter_logo").FontEffect({
        //outline:true,
        shadow:true,
        gradient:true,
        gradientColor:"gray",
        gradientPosition:25,
        gradientLength:20
      });

      jQuery(".carousel-demo2").sliderkit({
        shownavitems:6,
        scroll:1,
        mousewheel:true,
        circular:true,
        start:1
      });

      j$("#new_board_info").tipTip({
        content: "<div style='font-size:17px'>長期に渡って報告したいことがあったり<br>みんなに意見を聞きたいときは、掲示板で作成するのがいいです。<br><br>また、コメントに画像をつけられるのは掲示板だけなので<br>そこも考慮するといいでしょう。</div>",
        defaultPosition: "right",
        maxWidth: "auto",
        delay: 0,
      });
    });
  </script>

  <%= stylesheet_link_tag 'win7navi' %>
  <%= javascript_include_tag 'win7navi' %>
  <%#= calendar_date_select_includes %>
  <script type="text/javascript">
    //calendar_date_select日本語化
    _translations = {
      "OK": "OK",
      "Now": "現在",
      "Today": "今日",
      "Clear": "戻る"
    }
    //Date.weekdays = $w("日 月 火 水 木 金 土");
    //Date.months = $w("1 2 3 4 5 6 7 8 9 10 11 12" );
  </script>

  <%= javascript_include_tag 'jquery-fonteffect-1.0.0.min' %>
  <%= javascript_include_tag 'jquery.sliderkit.1.5.1.pack' %>
  <%= javascript_include_tag 'jquery.mousewheel.min' %>
  <%= stylesheet_link_tag 'sliderkit/sliderkit-core' %>
  <%= stylesheet_link_tag 'jqtransformplugin/jqtransform' %>
  <%= javascript_include_tag 'jquery.jqtransform' %>
  <%= stylesheet_link_tag 'tipTip' %>
  <%= javascript_include_tag 'jquery.tipTip.minified' %>

  <%= csrf_meta_tag %>
</head>
<body>

<div id="container">
<% if controller.controller_name == "mutters" and controller.action_name == "index" -%>

  <div class="sliderkit carousel-demo2">
    <div class="sliderkit-nav">
      <div class="sliderkit-nav-clip">
        <ul>
          <% @album_thumbs.each do |thumb| -%>
            <li>
              <%= link_to image_tag(thumb.attach(:thumb), :alt => thumb.album.title),
              {:controller => :mutters, :action => :album_info, :photo_id => thumb.id},
              {:class => "colorbox", :title => "上のリンク先からアルバムが見れます"} if thumb.album.present? %>
            </li>
          <% end -%>
        </ul>
      </div>
      <div class="sliderkit-btn sliderkit-nav-btn sliderkit-nav-prev"><a href="#" title="Scroll to the left"><span>Previous</span></a></div>
      <div class="sliderkit-btn sliderkit-nav-btn sliderkit-nav-next"><a href="#" title="Scroll to the right"><span>Next</span></a></div>
    </div>
  </div>

  <div style="float:left;margin: 0px 0px 15px 30px">
    <%= render :partial => "layouts/top" %>
  </div>
  <div style="float:right;margin: 10px 10px 0px 0px;color:gray;font-weight:bold;line-height:23px">
    あなたがアクション(日記、コメントなど)すれば<br />
    他の人が楽しめてアクションしたくなります。<br />
    そのアクションによって、またあなたも楽しめるでしょう。<br />
    そういう循環ができたら最高です。
  </div>
<% else -%>
  <div style="float:left;margin-left: 15px">
    <%= render :partial => "layouts/top" %>
  </div>
  <div style="font-family:HGP創英角ﾎﾟｯﾌﾟ体; font-size: 250%;color:#333333;float:left;margin: 50px 0px 20px 300px">
    <div id="content_logo"><%= @page_title %></div>
  </div>
<% end -%>
<div class="clear-both"></div>


<ul class="win7">
  <li class="win7red"><%= link_to "トップ", root_path %></li>
  <li class="win7yellow"><%= link_to "アルバム", albums_path %></li>
  <li class="win7green"><%= link_to "日記", blogs_path %></li>
  <li class="win7green"><%= link_to "動画", movies_path %></li>
  <li class="win7blue"><%= link_to "掲示板", boards_path %></li>
  <li><%= link_to "(×)年表", root_path %></li>
  <li><%= link_to "親戚データ", users_path %></li>
  <li><%= link_to "その他", others_path %></li>
  <li><span style="color:GreenYellow;font-weight:bold"><%= "〈 ユーザー：#{current_user.login} 〉" if current_user %></span></li>
</ul>
<div class="clear-both"></div>
<br />

<%= "<p class='notice'>#{flash[:notice]}</p>".html_safe if flash[:notice].present? %>

<div id="wrapper">
<%= yield  %>
</div>
<div class="clear-both"></div>
<div id="footer">
- AdanHP -
</div>
</div>
</body>
</html>
