<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--
    <title><%#= content_for?(:title) ? yield(:title) : "AdanHP" %></title>
    -->
    <title>A団HP | <%= "#{@page_title || controller.controller_name} > #{controller.action_name}" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%#= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%#= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%#= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%#= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>


<script>
  // todo 整理したい

//sakikazu RJSはまだprototype.js依存みたいだが、これを追加すればOK
// rails3.2なったらどうかな？コメントアウトして試してみる。てかもうRJS使ってないかも
//Element.update = function (element, html) {
//  $('#' + element).html(html);
//}

jQuery(document).ready(function(){
  //イイネしたメンバーをクリックで表示する
  nice_member = (function(){
    $('.nice_members').each(function(){
      $(this).css({'cursor' : 'pointer'});
      $(this).tipTip({
        content: $(this).attr('nice_members'),
        defaultPosition: "top",
        maxWidth: "auto",
        activation: "click",
        delay: 0,
      });
    });
  });

  //対象が画像(サイズが決まっているので、colorboxのサイズ指定しなくてよい)
  $(".colorbox").colorbox();
  //対象がhtml(colorboxのサイズ指定必要)
  colorbox_fix_size = (function(){
    jQuery(".colorbox_fix_size").colorbox({
      width:"900px",
      height:"750px",
    });
  });
  colorbox_fix_size();

  colorbox_slideshow = (function(){
    $("a[rel='colorbox']").colorbox({
      slideshow:true,
      slideshowSpeed:8000,
      slideshowAuto: false,
      slideshowStart: "★開始する(8秒送り)",
      slideshowStop: "★停止する",
      width:"900px",
      height:"750px",
      current: "{current} / {total}",
      escKey:false,
      arrowKey:false
    });
  });
  colorbox_slideshow();

  slide_effect = (function(){
    jQuery(".carousel-demo2").sliderkit({
      shownavitems:9,
      scroll:1,
      mousewheel:true,
      circular:true,
      start:0
    });
  });

  // [memo] colorboxでのフロートウィンドウで、下のほうが切れてしまってる問題が時々起きてたが、これが原因かも。とりあえずコメントアウト
  // コンテンツの高さが足りないページでも、フッターを下の方に配置する
  // ※bodyに対して設定しようとしたら適用されなかった
//  if($("body").height() < $(window).height()) {
//    offset = $("body").height() - $("#wrapper").height();
//    $("#wrapper").height($(window).height() - offset);
//  }


  // つぶやきのデスクトップ通知
<% if Rails.env == "production" %>
//  $('<button id="desktopify">つぶやきの通知を有効にする<\/button>')
//    .appendTo('#desktopnotification')
//    .desktopify({
//      timeout: 15000,
//      callback: function(){
//        setInterval(function(){
//          $.get("/mutters/update_check", function(data){
//            if(data != "" && data != undefined) {
//              $('#desktopify').trigger('notify', [
//              data,
//              '新着つぶやき(15秒後に非表示)'
//              ]);
//              return false;
//            }
//          });
//        },60000); // ミリ秒
//      },
//      unsupported: function() {
//        $('<div>あなたのブラウザは通知をサポートしてません。Chromeにするか、Firefoxなら <a href="http://code.google.com/p/ff-html5notifications/">http://code.google.com/p/ff-html5notifications/</a> をインストールしてください<\/div>')
//          .appendTo('#desktopnotification');
//        $('#desktopify').hide();
//      } 
//    })
//    .trigger('click');
<% end %>

//更新情報一括閲覧
<% if @ups_action_info -%>
  $('<div><%= @ups_action_info %></div>')
    .appendTo($('body'))
    .css({
      "position" : "fixed",
      "top" : "140px",
      "right" : "10px",
      "height" : "40px",
      "line-height" : "35px",
      "text-align" : "center",
      "z-index" : 100,
      "background-color" : "yellow",
      "font-size" : "25px",
      "opacity" : "0.8",
    })

<% end -%>

<% if @ups_page -%>
  $('<div><%= link_to '次へ', update_allview_mutters_path(:ups_page => @ups_page) %></div>')
    .appendTo($('body'))
    .css({
      "position" : "fixed",
      "top" : "200px",
      "right" : "10px",
      "width" : "130px",
      "height" : "50px",
      "line-height" : "45px",
      "text-align" : "center",
      "z-index" : 100,
      "background-color" : "yellow",
      "font-size" : "30px",
      "opacity" : "0.8",
    })
<% end -%>

});

// つぶやきのコメントのうち、最後のコメント以外をトグル表示
function toggleComments(obj) {
  $(obj).siblings(":not(.last_children)").toggle();
}

</script>

 </head>
 <body>
   <!-- 黒背景にして前面にアクションを起こすためのもの。お祝い表示などで使用 -->
   <div id="background_black" style="display:none"></div>

   <div class="navbar navbar-fixed-top navbar-inverse">
     <div class="navbar-inner">
       <div class="container">
         <!-- 小さい画面で見た時の小さいメニューボタン用 -->
         <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </a>

         <a class="brand" href="/">AdanHP</a>
         <div class="container nav-collapse">
           <ul class="nav">
             <li class="<%= controller.controller_name == "nices" ? "active" : "" %>"><%= link_to "人気", nices_path %></li>
             <li class="<%= controller.controller_name == "albums" ? "active" : "" %>"><%= link_to "アルバム", albums_path %></li>
             <li class="<%= controller.controller_name == "blogs" ? "active" : "" %>"><%= link_to "日記", blogs_path %></li>
             <li class="<%= controller.controller_name == "movies" ? "active" : "" %>"><%= link_to "動画", movies_path %></li>
             <li class="<%= controller.controller_name == "boards" ? "active" : "" %>"><%= link_to "掲示板", boards_path %></li>
             <li class="<%= controller.controller_name == "histories" ? "active" : "" %>"><%= link_to "年表", histories_path %></li>
             <li class="<%= controller.controller_name == "members" ? "active" : "" %>"><%= link_to "親戚データ", members_path %></li>
           </ul>
           <ul class="nav pull-right">
             <li><%= link_to current_user.dispname(User::FULLNAME), edit_ex_members_path if current_user.present? %></li>
             <!-- todo ドロップダウンメニューに入れたら、httpメソッドがGETになってしまう？？ -->
             <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>

             <li class="divider-vertical"></li>
             <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">その他メニュー<b class="caret"></b></a>
             <ul class="dropdown-menu">
               <li><a data-toggle="modal" href="#modalQR">QRコード</a></li>
               <li><%= link_to "その他", others_path %></li>
               <li><strike>RSS</strike></li>
               <li class="divider"></li>
               <li><%= link_to 'このサイトについて', about_others_path %></li>
             </ul>
             </li>
             <li class="divider-vertical"></li>
             <!-- todo こいつもAjaxだからかドロップダウンメニューに入れたらだめだな -->
             <li><%= link_to '写真を入れ替える', slider_update_mutters_path, remote: true if @slideshow_visible %></li>
           </ul>
         </div><!--/.nav-collapse -->
       </div>
     </div>
   </div>

    <div id="slider_update_info" class="alert alert-success text-center important" style="display:none">↓ 変更しました ↓</div>
  <div id="slider_photo">
    <%= render "mutters/slider" if @slideshow_visible %>
  </div>

    <div class="container">
<% # コンテンツは"row"ブロックからレイアウトできるので自由がある(トップ画面など) -%>
<% if @layout_type == 1 -%>
      <div class="row">
        <div class="span12">
          <%= bootstrap_flash %>
        </div>
      </div>

      <%= yield %>

<% # コンテンツは"span12"の中身からレイアウトするので自由がない -%>
<% else -%>
      <div class="row">
        <div class="span12">
          <%= bootstrap_flash %>

          <%= yield %>

        </div>
      </div>
<% end -%>

    </div> <!-- /container -->


    <!-- ### モーダル表示用 ### -->
    <!-- QRコード -->
    <div class="modal" id="modalQR" style="display:none">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>このサイトのQRコード</h3>
      </div>
      <div class="modal-body">
        <%= image_tag('QR_Code.jpg'); %>
      </div>
      <div class="modal-footer">
        produced by たかひろ
      </div>
    </div>

    <footer>
    <div id="desktopnotification"></div>
    <p>- AdanHP -</p>
    </footer>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%#= javascript_include_tag "application" %>
    <%#= yield :addjs # jQueryだけ分割して上にすればこの高速化方法も使えるかなぁ %>

  </body>
</html>
