<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>A団HP | <%= @page_title || "#{controller.controller_name} > #{controller.action_name}" %></title>
  <%= stylesheet_link_tag 'mobile' %>
</head>
<body>

<h1><%= link_to "AdanHP", root_path %></h1>
<% if !current_user %>
  <%= link_to "ログイン", new_user_session_path %> |
<% else %>
  <%= link_to "ログアウト", {:controller => :user_sessions, :action => :destroy} %> / 
  ユーザー：<%= current_user.login %>
<% end %>

<p style="color: green"><%= flash[:notice] %></p>

<%= link_to "トップ", :controller => "mobile", :action => :index %> /
<%= link_to "更新情報", :controller => "mobile", :action => :update_history %> /
<%= link_to "日記", :controller => "blogs", :action => :index_mobile %> /
<%= link_to "掲示板", :controller => "boards", :action => :index %>
<br /><br />
<div style="text-align:center;background-color: rgb(217, 41, 10);color:#ffffff;font-size:medium"><%= @content_title.html_safe if @content_title.present? %></div>
<br />

<%= yield  %>

</body>
</html>
