<div class='alert alert-success mb30'>
  <div class='page-header'>
    <h3>ログイン情報
      <small>
        <span class='badge badge-pill badge-danger'>あなたの家族のみ表示</span>
      </small>
    </h3>
  </div>
  <ul class='ml20 mb20'>
    <li>ユーザー名：<%= @user.username.presence || "未設定" %></li>
    <li>
      メールアドレス：<%= @user.email.presence || "未設定"  %>
    </li>
    <li>パスワード：<%= @user.encrypted_password.blank? ? "未設定" : "*******" %></li>
  </ul>

  <% if (@user.email.blank? && @user.username.blank?) || @user.encrypted_password.blank? %>
    <p class='important mt25'>
      <%= fa_icon 'exclamation-triangle' %>このユーザーはログイン情報が未設定のため、現在ログインできません。
    </p>
  <% end %>
  <%= link_to 'ログイン情報を変更', edit_account_member_path(@user), class: 'btn btn-success' %>
</div>

