- url = @user.new_record? ? members_path : member_path(@user)
= simple_form_for @user, url: url, html: {multipart: true} do |f|
  - if @user.errors.any?
    %p.alert.alert-error 入力エラーがあります。下記のエラー内容を確認してください。

  = f.input :parent_id, label: "家族", collection: @users.map{|u| ["#{u.dispname(User::FULLNAME)}の家族", u.id]}
  = f.input :familyname, label: "姓"
  = f.input :givenname, label: "名"
  = f.simple_fields_for :user_ext do |ff|
    = ff.input :nickname, label: "ニックネーム"
    = image_tag @user.user_ext.image(:thumb) if @user.user_ext.image?
    = ff.input :image, label: "プロフィール画像", as: :file, wrapper_html: {class: "mt20"}
    = ff.input :sex, label: "性別", collection: UserExt::SEX_LIST, include_blank: true
    = ff.input :blood, label: "血液型", collection: UserExt::BLOOD_LIST, include_blank: true
    = ff.input :addr1, label: "住所(都道府県)"
    = ff.input :addr2, label: "住所(市区町村)"
    = ff.input :addr3, label: "住所(番地とか)"
    = ff.input :addr4, label: "住所(アパート名とか)"
    = ff.input :addr_from, label: "出身地"
    = ff.input :birth_day, label: "誕生日", as: :date, start_year: 1910, end_year: Date.today.year

  %p todo ここはログイン用の設定ページを作って移動sたいアカウント情報設定ページを作成(導線考えて)
  -# usersのemailにちゃんと設定するスキーマな
  = f.input :email, label: "メールアドレス(ログイン用)"
  -# = f.input :password, label: "パスワード(ログイン用)"
  -# = f.input :password_confirmation, label: "パスワード(確認)"


  .form-actions
    = f.button :submit, class: "btn btn-primary", :data => {:disable_with => "処理中.."}

