<div class="col-sm-7">

<%= link_to "アカウント情報変更", edit_user_registration_path, class: "btn btn-info" %>

<% if current_user.email.blank? %>
  <p class='important'>メールアドレスが未設定（TODO）</p>
<% end %>

<div class="page-header">
  <h3>情報を変更する</h3>
</div>

<%= form_for @user_ext, html: form_html_option, url: update_ex_members_path, method: "put" do |f| %>
<table class="table table-striped table-bordered table-hover">
  <tr><th>姓</th><td><%= f.text_field :familyname %></td></tr>
  <tr><th>名</th><td><%= f.text_field :givenname %></td></tr>
  <tr><th>ニックネーム</th><td><%= f.text_field :nickname %></td></tr>
  <tr><th>性別</th><td><%= f.select :sex, UserExt::SEX_LIST, {:include_blank => true} %></td></tr>
  <tr><th>血液型</th><td><%= f.select :blood, UserExt::BLOOD_LIST, {:include_blank => true} %></td></tr>
  <tr><th>メールアドレス</th><td><%= f.text_field :email %></td></tr>
  <tr><th>住所(都道府県)</th><td><%= f.text_field :addr1 %></td></tr>
  <tr><th>住所(市区町村)</th><td><%= f.text_field :addr2 %></td></tr>
  <tr><th>住所(番地とか)</th><td><%= f.text_field :addr3 %></td></tr>
  <tr><th>住所(アパート名とか)</th><td><%= f.text_field :addr4 %></td></tr>
  <tr><th>出身地</th><td><%= f.text_field :addr_from %></td></tr>
  <tr><th>誕生日</th><td>
    <%= f.date_select :birth_day, :start_year => 1910, :end_year => Date.today.year, :use_month_numbers => true, :include_blank => true %>
    <%#= f.calendar_date_select :birth_day, :popup=>:force, :embedded => true, :year_range => Time.local(1910,1,1,1,1,1)..0.years.ago %>
  </td></tr>
  <tr><th>仕事</th><td><%= f.text_field :job %></td></tr>
  <tr><th>趣味</th><td><%= f.text_field :hobby %></td></tr>
  <tr><th>特技</th><td><%= f.text_field :skill %></td></tr>
  <tr><th>アピールとか</th><td><%= f.text_area :free_text, class: 'span5' %></td></tr>
  <tr><th>プロフィール写真</th><td><%= f.file_field :image %></td></tr>
  <tr><th>性格</th><td><%= f.text_field :character %></td></tr>
  <tr><th>自慢</th><td><%= f.text_field :jiman %></td></tr>
  <tr><th>夢</th><td><%= f.text_field :dream %></td></tr>
  <tr><th>尊敬する人</th><td><%= f.text_field :sonkei %></td></tr>
  <tr><th>休日の過ごし方</th><td><%= f.text_field :kyujitsu %></td></tr>
  <tr><th>マイブーム</th><td><%= f.text_field :myboom %></td></tr>
  <tr><th>好きな食べ物</th><td><%= f.text_field :fav_food %></td></tr>
  <tr><th>嫌いな食べ物</th><td><%= f.text_field :unfav_food %></td></tr>
  <tr><th>好きな映画</th><td><%= f.text_field :fav_movie %></td></tr>
  <tr><th>好きな本</th><td><%= f.text_field :fav_book %></td></tr>
  <tr><th>好きなスポーツ</th><td><%= f.text_field :fav_sports %></td></tr>
  <tr><th>好きな音楽</th><td><%= f.text_field :fav_music %></td></tr>
  <tr><th>好きなゲーム</th><td><%= f.text_field :fav_game %></td></tr>
  <tr><th>好きなブランド</th><td><%= f.text_field :fav_brand %></td></tr>
  <tr><th>今欲しいもの</th><td><%= f.text_field :hosii %></td></tr>
  <tr><th>今行きたいところ</th><td><%= f.text_field :ikitai %></td></tr>
  <tr><th>今やりたいこと</th><td><%= f.text_field :yaritai %></td></tr>
</table>

  <%= f.hidden_field :user_id %>
  <tr><th><%= f.submit "更新", class: "btn btn-primary" %></td></tr>
<% end %>

</div>

