.col-sm-6
  .mb20
    = link_to "戻る", relation_members_path, class: "btn btn-light"
  
  .page-header
    %h3 ＜#{@user.dispname(User::FULLNAME)}＞の情報を編集
  
  .alert.alert-danger.mt30
    %p
      - if @user.encrypted_password.blank?
        ホームページにログインする場合は
        = link_to "こちらから", edit_account_member_path(@user)
        ユーザー名とパスワードを設定してください
      - else
        = link_to "こちらから", edit_account_member_path(@user)
        ログイン情報を変更する
    %p ユーザー名：#{@user.username}
    %p パスワード：#{@user.encrypted_password.blank? ? "未設定" : "*******"}
  
  .well
    = render 'form'
  
  .mt20.text-center
    = link_to "削除", member_path(@user), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger"
