.col-sm-10
  = render 'menu'
  .row.mb30
    .col-sm-8
      .card
        .card-header
          %h3 人数データ
        .card-body
          %ul.pl-4
            %li A団の構成のみに対応させているため、それ以外の家族では正しい値が出ない
            %li 1世代目がそうへい夫妻、2世代目が11人兄弟となる
            %li この人数には配偶者も含む
          %table.table.table-bordered.table-striped.table-warning.text-center
            %tr
              %th 合計
              - 1.upto(@count_by_generation.size - 1) do |n|
                %th #{n}世代
            %tr
              %td #{@count_by_generation[0]}
              - 1.upto(@count_by_generation.size - 1) do |n|
                %td #{@count_by_generation[n]}人

- content_for :free_layout do
  #sakimuras
    #generation1
      %ul.members
        - @relationed_users.each do |user|
          = render 'member_recursive', user: user
    #generation2
    #generation3
    #generation4
    #generation5

