.page-header
  %h3 家系図

#sakimuras{style: "width: 1100px; height: 1000px"}
  #generation1
    %ul.members
      - @users.each do |u|
        %li.list.clearfix{id: "id#{u[:id]}"}
          .img
            = image_tag "/images/missing.gif"
          .name
            = u[:name]
          .info
            %p.underline= "#{u[:sex_h]}"
            %p.underline= "#{u[:age]}歳"
            %p= "属#{u[:has_members_num]}人"
        %div{style: "display:none"}
          %ul.members.child{id: "id#{u[:id]}-family"}
            %li.zoom.clearfix{id: "id#{u[:id]}"}
              = render partial: 'member_zoom', locals: {user: u}

            %li.add_user
              = link_to "家族追加", new_member_path(parent_user_id: u[:id]), class: "btn btn-warning btn-block"

            - if u[:family].present?
              - u[:family].each do |uu|
                %li.list.clearfix{id: "id#{uu[:id]}"}
                  = render partial: 'member_list', locals: {user: uu}

                %div{style: "display:none"}
                  %ul.members.child{id: "id#{uu[:id]}-family"}
                    %li.zoom.clearfix{id: "id#{uu[:id]}"}
                      = render partial: 'member_zoom', locals: {user: uu}

                    %li.add_user
                      = link_to "家族追加", new_member_path(parent_user_id: uu[:id]), class: "btn btn-warning btn-block"

                    - if uu[:family].present?
                      - uu[:family].each do |uuu|
                        %li.list.clearfix{id: "id#{uuu[:id]}"}
                          = render partial: 'member_list', locals: {user: uuu}

                        %div{style: "display:none"}
                          %ul.members.child{id: "id#{uuu[:id]}-family"}
                            %li.zoom.clearfix{id: "id#{uuu[:id]}"}
                              = render partial: 'member_zoom', locals: {user: uuu}

                            %li.add_user
                              = link_to "家族追加", new_member_path(parent_user_id: uuu[:id]), class: "btn btn-warning btn-block"

                            - if uuu[:family].present?
                              - uuu[:family].each do |uuuu|
                                %li.list.clearfix{id: "id#{uuuu[:id]}"}
                                  = render partial: 'member_list', locals: {user: uuuu}

                                %ul.members.child{id: "id#{uuuu[:id]}-family"}
                                  %li.zoom.clearfix{id: "id#{uuuu[:id]}"}
                                    = render partial: 'member_zoom', locals: {user: uuuu}

                                  %li.add_user
                                    = link_to "家族追加", new_member_path(parent_user_id: uuuu[:id]), class: "btn btn-warning btn-block"

  #generation2
  #generation3
  #generation4
  #generation5

