<div class="col-sm-7">

<div class="form-actions mb30">
  <%= link_to "一覧へ", members_path, class: "btn btn-light" %>
  <%= link_to "編集する", edit_member_path(@user), class: "btn btn-info" if current_user.editable(@user) %>
</div>

<h2 class='mt30 mb30'><%= @user.dispname(User::FULLNICK) %></h2>

<% if current_user.editable(@user) %>
  <%= render 'account_info' %>
<% end %>

<div class='page-header'>
  <h3>詳細情報</h3>
</div>

<table class="table table-striped table-bordered table-hover">
  <tr><th>プロフィール画像</th>
    <td><%= link_to(image_tag(@user.user_ext.image(:thumb), class: "img-polaroid"), @user.user_ext.image.url(:large), {:class => colorbox_class}) %></td>
  </tr>
  <tr><th>関係する11兄弟</th><td><%= @user.root11_name %></td></tr>
  <tr><th width="200">性別</th><td><%= @user.user_ext.sex_name %></td></tr>
  <tr><th>血液型</th><td><%= @user.user_ext.blood_name %></td></tr>
  <tr><th>住所</th><td><%= "#{@user.user_ext.addr1} #{@user.user_ext.addr2} #{@user.user_ext.addr3} #{@user.user_ext.addr4}" %></td></tr>
  <tr><th>出身地</th><td><%= @user.user_ext.addr_from %></td></tr>
  <tr><th>誕生日</th><td><%= @user.user_ext.birth_day.to_s(:date) if @user.user_ext.birth_day %></td></tr>
  <tr><th>仕事</th><td><%= @user.user_ext.job %></td></tr>
  <tr><th>趣味</th><td><%= @user.user_ext.hobby %></td></tr>
  <tr><th>特技</th><td><%= @user.user_ext.skill %></td></tr>
  <tr><th>性格</th><td><%= @user.user_ext.character %></td></tr>
  <tr><th>自慢</th><td><%= @user.user_ext.jiman %></td></tr>
  <tr><th>夢</th><td><%= @user.user_ext.dream %></td></tr>
  <tr><th>尊敬する人</th><td><%= @user.user_ext.sonkei %></td></tr>
  <tr><th>休日の過ごし方</th><td><%= @user.user_ext.kyujitsu %></td></tr>
  <tr><th>マイブーム</th><td><%= @user.user_ext.myboom %></td></tr>
  <tr><th>好きな食べ物</th><td><%= @user.user_ext.fav_food %></td></tr>
  <tr><th>嫌いな食べ物</th><td><%= @user.user_ext.unfav_food %></td></tr>
  <tr><th>好きな映画</th><td><%= @user.user_ext.fav_movie %></td></tr>
  <tr><th>好きな本</th><td><%= @user.user_ext.fav_book %></td></tr>
  <tr><th>好きなスポーツ</th><td><%= @user.user_ext.fav_sports %></td></tr>
  <tr><th>好きな音楽</th><td><%= @user.user_ext.fav_music %></td></tr>
  <tr><th>好きなゲーム</th><td><%= @user.user_ext.fav_game %></td></tr>
  <tr><th>好きなブランド</th><td><%= @user.user_ext.fav_brand %></td></tr>
  <tr><th>今欲しいもの</th><td><%= @user.user_ext.hosii %></td></tr>
  <tr><th>今行きたいところ</th><td><%= @user.user_ext.ikitai %></td></tr>
  <tr><th>今やりたいこと</th><td><%= @user.user_ext.yaritai %></td></tr>
  <tr><th>自由欄</th><td><%= sani_custom_br(@user.user_ext.free_text) %></td></tr>
  <tr><th>お祝い履歴</th><td>
    <% @user.celebrations.each do |c| %>
      <%= c.anniversary_at %>
      <%= form_tag({:controller => :mutters, :action => :celebration, :celebration_id => c.id}, :remote => true, method: :get) do %> 
        <%= submit_tag 'お祝いを見る' %>
      <% end -%> 
      <br />
    <% end -%>
  </td></tr>
</table>

</div>
